<ips:template parameters="" />

<br><br>
<h1 class='ipsType_veryLarge ipsType_center'>
	<i class='fa fa-file-text ipsType_huge'></i><br>
	Front-end Documentation
</h1>

<div class='ipsGrid ipsPos_center' style='width: 700px'>
	<div class='ipsGrid_span6'>
		<a href='{url="app=documentation&module=documentation&controller=css"}' class='ipsButton ipsButton_veryLarge ipsButton_primary ipsButton_fullWidth'>CSS</a>
	</div>
	<div class='ipsGrid_span6'>
		<a href='{url="app=documentation&module=documentation&controller=javascript"}' class='ipsButton ipsButton_veryLarge ipsButton_primary ipsButton_fullWidth'>Javascript</a>
	</div>
</div>