<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>File Structure</h1>
	<p class='ipsPageHeader_info'>
		How javascript files are organized in the IPS Social Suite.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#dev'>Development &amp; Production</a></li>
		<li><a href='#global'>Global Resources</a></li>
		<li><a href='#app'>Application Resources</a></li>
		<li><a href='#interface'>Third-party Libraries</a></li>
	</ul>
	<hr class='ipsHr'>

	<p class='cNote'>This documentation assumes you are running your installation with <code>IN_DEV</code> enabled.</p>
	<br>

	<section>
		<p>Due to the multi-application model that the IPS Social Suite employs, and the way that resources are bundled and served to the browser, there a number of places in which different types of javascript files are stored.</p>
	</section>

	<section>
		<a id='dev'></a>
		<h2>Development &amp; production</h2>

		<p>When developing for IPS4, you create your javascript files in the application or global directories, with a single file holding a single module. In production, however, IPS4 bundles related files together (concatenating and minifying them in the process) to reduce file size and the number of HTTP requests needed to fetch the scripts.</p>

		<p>You should be aware of how the bundles are built and from where, because this will dicate how you specify javascript files to load in your backend PHP code.</p>
	</section>

	<section>
		<a id='global'></a>
		<h2>Global resources</h2>

		<p>Global resources are those that are loaded on <em>every</em> page load. This includes:</p>

		<ul class='ipsList_bullets'>
			<li><strong>Libraries</strong> - jQuery, underscore etc.</li>
			<li><strong>Application setup</strong> - Bootstrap module, loader module, base controller etc.</li>
			<li><strong>Global modules</strong> - UI widgets, utilities, global controllers etc.</li>
			<li><strong>Front/admin modules</strong> - Controllers global to the front-end/admin control panel, needed on every page in that area</li>
		</ul>

		<p>All of the above files are located at <em>&lt;root&gt;/dev/js/</em>.</p>

	</section>

	<section>
		<a id='app'></a>
		<h2>Application resources</h2>

		<p>Applications have their own folder for javascript, located at <code><em>exampleApp</em>/dev/js</code>. Within this folder, there should be three subfolders - <em>admin</em>, <em>front</em> and <em>global</em>. These folders hold javascript specific to those areas (or for the whole application, in the case of <em>global</em>).</p>

		<p>Within each of those folders respectively, there are further subfolders for different types of javascript file - controllers, models, templates and mixins. Therefore, within an application, the file structure looks like this:</p>

		<ul class='ipsList_bullets' id='elFileStructure'>
			<li>
				<code>exampleApp</code>
				<ul class='ipsList_bullets'>
					<li>
						<code>/js</code>
						<ul class='ipsList_bullets'>
							<li>
								<code>/front</code>
								<ul class='ipsList_bullets'>
									<li>
										<code><strong>/controllers</strong></code>
										<ul class='ipsList_bullets'>
											<li>
												<code>/profile</code>
												<ul class='ipsList_bullets'>
													<li>
														<code>ips.profile.body.js</code>
													</li>
													<li>
														<code>ips.profile.main.js</code>
													</li>
												</ul>
											</li>
											<li>
												<code>/system</code>
											</li>
											<li>
												<code>...etc...</code>
											</li>
										</ul>
									</li>
									<li>
										<code><strong>/mixins</strong></code>
									</li>
									<li>
										<code><strong>/models</strong></code>
										<ul class='ipsList_bullets'>
											<li>
												<code>/profile</code>
												<ul class='ipsList_bullets'>
													<li>
														<code>ips.profile.profile.js</code>
													</li>
												</ul>
											</li>
											<li>
												<code>/system</code>
											</li>
											<li>
												<code>...etc...</code>
											</li>
										</ul>
									</li>
									<li>
										<code><strong>/templates</strong></code>
										<ul class='ipsList_bullets'>
											<li>
												<code>ips.templates.profile.js</code>
											</li>
											<li>
												<code>ips.templates.system.js</code>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<code>/admin</code>
								<ul class='ipsList_bullets'>
									<li>
										<code>/controllers</code>
									</li>
									<li>
										<code>...etc...</code>
									</li>
								</ul>
							</li>
							<li>
								<code>/global</code>
								<ul class='ipsList_bullets'>
									<li>
										<code>...etc...</code>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>

		<p>Bundles for an application are built based on folder/filenames, and use the format <em>&lt;location&gt;_&lt;directory&gt;.js</em>. Taking the structure above as our example, if we loaded <em>front_profile.js</em>, it would contain:</p>

		<ul class='ipsList_bullets'>
			<li>/js/front/controllers/<strong>profile</strong>/ips.profile.body.js</li>
			<li>/js/front/controllers/<strong>profile</strong>/ips.profile.main.js</li>
			<li>/js/front/models/<strong>profile</strong>/ips.profile.profile.js</li>
			<li>/js/front/templates/ips.templates.<strong>profile</strong>.js</li>
		</ul>

	</section>

	<section>
		<a id='interface'></a>
		<h2>Third-party Libraries</h2>

		<p>An application has an interface directory at <code><em>exampleApp</em>/interface/</code>. This is where third-party libaries used by individual applications should be stored and loaded from. They are <em>not</em> bundled or minified by IPS4, so you should store the pre-minified rather than the uncompressed version.</p>

	</section>

</article>