<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Templates</h1>
	<p class='ipsPageHeader_info'>
		How to use the client-side templating system
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#overview'>Overview</a></li>
		<li><a href='#registering'>Registering Translations</a></li>
		<li><a href='#using'>Using Translations</a></li>
		<li><a href='#variables'>Variables</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='overview'></a>
		<h2>Overview</h2>

		<p>The language methods enable you to use localized strings in your javascript.</p>
	</section>

	<section>
		<a id='registering'></a>
		<h2>Registering translations</h2>

		<p>Strings created via the language system in IPS4 will be automatically registered for you. Should you need to manually register strings, you can do so with the <code>setString</code> method:</p>

<pre class='prettyprint'>
ips.setString( {
	string1: "Contents of string1",
	string2: "Contents of string2"
});
</pre>

		<p><code>ips.setString</code> accepts either a key/value pair as two string parameters, or a single object containing multiple key/value pairs, as in the example above. This call registers the strings and makes them available to other modules.</p>
	</section>

	<section>
		<a id='using'></a>
		<h2>Using translations</h2>

		<p>Using a translation is as simple as:</p>

<pre class='prettyprint'>
ips.getString('string1');
</pre>
	
		<p>This returns the string, or <code>undefined</code> if it hasn't been registered.</p>
	</section>

	<section>
		<a id='variables'></a>
		<h2>Variables</h2>

		<p>Translated strings sometimes have the need to include variable values within them, such as counters. For example, in the string "You have 4 messages", the number 4 would need to be variable per-user.</p>

		<p>Variables in language strings take the format <code>&#123;&#123;name&#125;&#125;</code>, and are used like so:</p>

<pre class='prettyprint'>
ips.getString('string1', {
	name: 'Rikki'
});
</pre>

		<p>The following variables are automatically interpolated, and can be used in strings without manually passing them in the object:</p>

		<ul class='ipsList_bullets'>
			<li><code>imgURL</code> - URL to the current theme image directory</li>
			<li><code>baseURL</code> - Base URL of the suite</li>
		</ul>
		<br>

		
		<p class='cNote'>
			<em>Note: Language variable interpolation is limited to simple replacements. Only <a href='{url="app=documentation&module=documentation&controller=javascript&do=templates"}'>templates</a> have the full Mustache syntax available.</em>
		</p>
	</section>
</article>