<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Loading Content</h1>
	<p class='ipsPageHeader_info'>
		How to load content dynamically.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#getAjax'>ips.getAjax()</a></li>
		<li><a href='#initializing'>Initializing New Content</a></li>
		<li><a href='#redirect'>Redirecting The User</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='getAjax'></a>
		<h2>ips.getAjax()</h2>

		<p>jQuery provides the $.ajax() method for executing AJAX requests for loading content dynamically. In the IPS Social Suite we wrap this in the <code>ips.getAjax()</code> method, which enables us to swap out the $.ajax call behind the scenes and replace it with a mock object for testing when necessary.</p>

		<p>Therefore, when executing an AJAX request in your code, you should use this approach:</p>

<pre class='prettyprint'>
var ajax = ips.getAjax();

ajax( url, options );
</pre>

		<p><code>ips.getAjax()</code> simply returns <code>$.ajax</code> in production, and therefore accepts exactly the same options as the <a href='http://api.jquery.com/jQuery.ajax/'>jQuery documentation</a> specifies. For example, to send a post request instead, you can do:</p>

<pre class='prettyprint'>
ips.getAjax()( url, { type: 'post' } );
</pre>

	</section>

	<section>
		<a id='initializing'></a>
		<h2>Initializing new content</h2>

		<p>Whenever you insert new content into the page, whether from an AJAX request, rendering a <a href='{url="app=documentation&module=documentation&controller=javascript&do=templates"}'>template</a> or manually constructing an element using jQuery, you should initialize it. This causes the IPS4 framework to set up any controllers and UI widgets in the new contentand prepare them for use.</p>

		<p>To initialize content, trigger an event on the <code>document</code> like so, passing in a reference to the element containing the new content:</p>

<pre class='prettyprint'>
$( document ).trigger( 'contentChange', [ container ] );
</pre>
	</section>

	<section>
		<a id='redirect'></a>
		<h2>Redirecting the user</h2>

		<p>Sometimes it's nececcessary to redirect the user's browser to a new page as the result of an AJAX request. jQuery does not follow redirect headers by default, meaning this functionality does not work as expected.</p>

		<p>To facilitate this, you can return a special JSON object which will be recognized and cause the browser to be redirected. You should return an object that has a <code>redirect</code> key which is the URL to which the user will be sent. You can also optionally include a <code>message</code> key, which if provided will be displayed as a flash message when the user arrives at the redirected page.</p>

		<p>Sending a redirect response via PHP:</p>

<pre class='prettyprint'>
\$this->json( array( 
	'redirect' => \$url,
	'message' => "Flash message"
)	);
</pre>

		<p class='cNote'>The central <code>\IPS\Output::i()->redirect();</code> method handles this behavior for you.</p>
	</section>

</article>