<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Building Modules</h1>
	<p class='ipsPageHeader_info'>
		How to create modules within the framework
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#scope'>Global Scope &amp; Closure Wrapping</a></li>
		<li><a href='#strict'>Strict Mode</a></li>
		<li><a href='#comments'>Documentation &amp; Commenting</a></li>
		<li><a href='#semicolons'>Semi-colons</a></li>
		<li><a href='#names'>Names</a></li>
		<li><a href='#logging'>Logging</a></li>
		<li><a href='#linelength'>Line Length</a></li>
		<li><a href='#jquery'>jQuery Chaining</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<h2>Overview</h2>

		<p>In IPS4, with very few exceptions, all javascript should exist within a named module. This means that the global scope is not polluted, and it makes it easier to identify methods that are being called. All modules exist under the primary namespace <code>ips</code>.</p>

		<p>Modules generally use the <em><a href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript'>revealing module</a></em> pattern. This means the module returns an object containing the methods that it is making public, while retaining the ability to have private properties and methods that are not exposed to the world.</p>

		<p>Each module should exist in its own javascript file, and the javascript file should contain only the module.</p>
	</section>

	<section>
		<h2>Basic module structure</h2>

		<p>The basic structure of a module file looks like this:</p>

<pre class='prettyprint'>
;( function($, _, undefined){
	"use strict";
	
	ips.createModule('ips.myModule', function () {

		// Private methods
		var _privateMethod = function () {

		};

		// Functions that become public methods
		var init = function () {

		},

		publicMethod = function () {

		};

		// Expose public methods
		return {
			init: init,
			publicMethod: publicMethod
		}
	});

}(jQuery, _));
</pre>

		<p>First note that the entire structure is wrapped in a self-executing closure, with the jQuery and Underscore objects passed in as parameters. This makes our code safe against naming conflicts with 3rd party libaries that might also using the <code>$</code> variable.</p>
		<p>The module is created by calling <code>ips.createModule()</code>.</p>
		<p>The first parameter is the module path on which the module will be created. This should begin <code>ips</code>, and the location of modules should be logical - e.g. UI widget modules should be created on the <code>ips.ui</code> path.</p>
		<p>The second parameter is the module definition itself, which as noted above should return an object of public methods. Private methods can be defined within the module, and by convention should be prefixed with an underscore character.</p>
	</section>

	<section>
		<h2>Initializing modules</h2>
		<p>If a module exposes a method named <code>init</code>, it will be called automatically when the document is ready.</p>
	</section>

	<section>
		<h2>Calling module methods</h2>

		<p>Module methods can be called like so:</p>

<pre class='prettyprint'>
ips.myModule.publicMethod();
</pre>
	</section>
	
</article>