<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>AdminCP Shortcuts</h1>
	<p class='ipsPageHeader_info'>
		Shortcuts you can use within the AdminCP
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#initializing'>Initializing New Content</a></li>
		<li><a href='#redirect'>Redirecting The User</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The AdminCP provides a number of shortcuts you can use to quickly implement javascript-based behavior without needing to write custom controllers to handle it. These are generally things such as getting confirmation from the user or toggling sections of the page.</p>

		<p>These shortcuts are implemented as data attributes you can add to elements.</p>
	</section>

	<section>
		<h2>Toggling elements</h2>

		<h3><code>data-clickshow</code></h3>
		<p>When applied to an element and the value is a comma-delimited string of target element IDs, this attribute will <strong>show</strong> the provided target elements when the receiving element is clicked.</p>
		<br>

		<h3><code>data-clickhide</code></h3>
		<p>When applied to an element and the value is a comma-delimited string of target element IDs, this attribute will <strong>hide</strong> the provided target elements when the receiving element is clicked.</p>
		<br>
	</section>

	<section>
		<h2>Confirming actions</h2>

		<h3><code>data-confirm</code></h3>
		<p>When applied to an <code>a</code> element, this attribute will prompt the user to confirm the action before the link is followed. By default a generic confirmation message is shown; you can provide your own message by also including a <code>data-customMessage</code> attribute on the link.</p>
		<br>

		<h3><code>data-delete</code></h3>
		<p>When applied to an <code>a</code> element, this attribute will warn the user that they are about to delete content, and ask them to confirm it. By default, the handler will call the href URL via AJAX to perform the action. You can disable the AJAX behavior by also include a <code>data-noAjax</code> attribute on the link.</p>

		<p>When used within AdminCP table views, this attribute will remove table row in which it exists too. You can instead choose to specify the row that is deleted by including a <code>data-deleteRow</code> attribute, which should contain a selector used to locate the row to be removed.</p>
	</section>

	<section>
		<h2>Other</h2>

		<h3><code>data-clickempty</code></h3>
		<p>When applied to an alement, this attribute will empty form fields. The field IDs should be provided as a comma-separated list as the attribute value.</p>
		<br>

		<h3><code>data-doajax</code></h3>
		<p>When applied to an <code>a</code> element, this attribute will create an ajax request to the link's href. If a <code>200</code> header is received in response, then a flash message will be shown containing the message in the response body. On error, the browser will redirect to the URL in order to show the error returned.</p>
	</section>
</article>
