<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Overview of the Javascript Framework</h1>
	<p class='ipsPageHeader_info'>
		What does the javascript framework consist of?
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#scope'>Global Scope &amp; Closure Wrapping</a></li>
		<li><a href='#strict'>Strict Mode</a></li>
		<li><a href='#comments'>Documentation &amp; Commenting</a></li>
		<li><a href='#semicolons'>Semi-colons</a></li>
		<li><a href='#names'>Names</a></li>
		<li><a href='#logging'>Logging</a></li>
		<li><a href='#linelength'>Line Length</a></li>
		<li><a href='#jquery'>jQuery Chaining</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='scope'></a>
		<h2>Modules (and their files)</h2>

		<p>In IPS4, most javascript is split into self-contained, named modules. Modules and javascript files have a <strong>one-to-one</strong> relationship - each javascript file should contain <strong>one</strong> module only. Modules prevent variables leaking into the global scope (which <strong>must</strong> be avoided), and helps ensure code stays focused. All modules appear under the <code>ips</code> namespace.</p>
		<br>

		<h3>Types of module</h3>

		<p>A number of types of module exist within the software.</p>

		<ul class='ipsList_bullets ipsType_normal'>
			<li>
				<strong>Utility modules</strong><br>
				<p class='ipsType_reset'>Exist on the <code>ips.utils</code> namespace, and provide assorted functionality that other modules can make use of, including cookie handling and methods for handling responsive design.</p>
			</li>
			<li>
				<strong>UI widget modules</strong><br>
				<p class='ipsType_reset'>Exist on the <code>ips.ui</code> namespace, and define interface widgwts to add interactivity to pages, and which can be reused.</p>
			</li>
			<li>
				<strong>Controllers</strong><br>
				<p class='ipsType_reset'>Controllers are special modules which handle specific functionality for one particular page or part of a page. They can request data from models, and respond to events triggered by UI widgets or other modules.</p>
			</li>
			<li>
				<strong>Mixins</strong><br>
				<p class='ipsType_reset'>Mixins are used to extend controllers with additional functionality.</p>
			</li>
			<li>
				<strong>Models</strong><br>
				<p class='ipsType_reset'>Models are another kind of special module, whose sole purpose is to fetch data from the server, process it if necessary, then hand it off to any modules can make use of it.</p>
			</li>
		</ul>
		<br>

		<h3>Other file types</h3>

		<p>There are a number of other types of non-modularized file used too:</p>

		<ul class='ipsList_bullets ipsType_normal'>
			<li>
				<strong>Libraries/Interfaces</strong><br>
				<p class='ipsType_reset'>Libraries are 3rd party scripts which provide additional functionality. jQuery and Underscore are two examples.</p>
			</li>
			<li>
				<strong>Templates</strong><br>
				<p class='ipsType_reset'>Template files define special <a href='https://github.com/janl/mustache.js'>Mustache</a> templates, which modules can use when rendering HTML to the browser.</p>
			</li>
			<li>
				<strong>Languages</strong><br>
				<p class='ipsType_reset'>Language files define strings which can be translated into other languages.</p>
			</li>
		</ul>

	</section>
</article>