<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Coding Standards</h1>
	<p class='ipsPageHeader_info'>
		How to properly structure your javascript code.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#scope'>Global Scope &amp; Closure Wrapping</a></li>
		<li><a href='#strict'>Strict Mode</a></li>
		<li><a href='#comments'>Documentation &amp; Commenting</a></li>
		<li><a href='#semicolons'>Semi-colons</a></li>
		<li><a href='#names'>Names</a></li>
		<li><a href='#logging'>Logging</a></li>
		<li><a href='#linelength'>Line Length</a></li>
		<li><a href='#jquery'>jQuery Chaining</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='scope'></a>
		<h2>Global scope &amp; closure wrapping</h2>
		<p>Variables <strong>must not</strong> be leaked into the global scope unless there is an explicit functional need for global access. Within function scope, variables must be declared with the <code>var</code> statement.</p>

		<p>To help prevent scope leaking, each script file should be entirely wrapped in an anonymous, self-executing closure, passing the jQuery and Underscore objects as parameters:</p>

<pre class='prettyprint'>
;( function($, _, undefined){
	// Code goes here
}(jQuery, _));
</pre>

		<p>This prevents variables from leaking into the global scope, and also ensures jQuery code making use of the dollar variable <code>$</code> does not conflict with any other code that might be running on the page.</p>
		<p>Note that a semi-colon appears as the first character. This helps prevent errors caused by incorrect semi-colon insertion in previous code, should this script be concatenated with others. It is a defensive coding practice, and recommended in all files.</p>

	</section>

	<section>
		<a id='strict'></a>
		<h2>Strict mode</h2>
		<p>The use of <em>strict mode</em> is <strong>required</strong> for all default javascript in IPS4. Strict mode helps prevent leaking into the global scope, catches code problems that would otherwise fail silently, and enables javascript engines to perform more optimizations. However, it is important that this is applied using the <em>per-function</em> syntax and not the <em>per-script</em> syntax, otherwise unexpected behavior can occur when script files are concatenated with 3rd-party scripts.</p>

		<p>Given that all script files should be wrapped in a self-executing closure, the syntax for enabling strict mode looks like this:</p>

<pre class='prettyprint'>
;( function($, _, undefined){
"use strict";

	// Script here, e.g. module definition etc.

}(jQuery, _));
</pre>

		<p>By putting the <code>"use strict";</code> statement inside the the closure, we ensure all of our code runs in strict mode without affecting any external code by accident. Note that the strict mode statement <em>must</em> be the very first line of the function, as shown.</p>
		<p>Further information about strict mode and the code requirements it imposes is available at <a href='https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Functions_and_function_scope/Strict_mode'>MDN</a>.</p>
	</section>

	<section>
		<a id='comments'></a>
		<h2>Documentation &amp; commenting</h2>
		<p>The use of <a href='http://usejsdoc.org/'>JSDoc</a> is highly encouraged to document code. Refer to the JSDoc documentation for exact syntax.</p>

		<p>Within scripts, comment blocks <code>/* */</code> should be reserved for formal documentation and situations where large blocks of existing code need to be commented out temporarily. Line-by-line comments should always use the single-line <code>//</code> comment style.</p>

<pre class='prettyprint'>
/**
 * Formal documentation
 */

/* return 'Commenting out existing code'; */

// Informal comments to describe code 
</pre>
	</section>

	<section>
		<a id='semicolons'></a>
		<h2>Semi-colons</h2>
		<p>Semi-colons must be used at the end of every statement, even when function/object literals are being assigned. For example:</p>

<pre class='prettyprint'>
// Simple statements
$('#element').doSomething()<strong>;</strong>
var test = 'value'<strong>;</strong>
return 'text'<strong>;</strong>

// Function and object literals
var test = function () {
	...
}<strong>;</strong>

var test2 = {
	key1: 'value'
}<strong>;</strong>
</pre>
	</section>

	<section>
		<a id='names'></a>
		<h2>Names</h2>
		<p>All names (variables, methods, properties etc.) should use lowerCamelCase, such as <code>deselectAll</code>, <code>createModule</code> and <code>itemSelector</code>.</p>
	</section>

	<section>
		<a id='logging'></a>
		<h2>Logging</h2>
		<p>You <strong>should not</strong> use <code>console.log</code> for debugging. This does not provide for disabling debugging in production, and can break pages on older browsers if not accounted for. A debugging method is provided via <code>Debug.log</code> that addresses these concerns, and should be used instead.</p>
	</section>

	<section>
		<a id='linelength'></a>
		<h2>Line length</h2>
		<p>Aim to keep the line length below 120 characters to maintain readability. Longer lines should be split immediately after a comma or operator, with the remainder of the statement indented further to ensure clarity. For example:</p>

<pre class='prettyprint'>
if( ( options.dataSource && options.dataSource.indexOf('#') === 0 && $( options.dataSource ).length ) ||
	originalTextField.is('[list]') ){
</pre>
	</section>

	<section>
		<a id='jquery'></a>
		<h2>jQuery chaining</h2>
		<p>It is recommended that multiple jQuery methods chained on an element are placed on newlines to improve clarity. Additionally, indentation should be used to reflect the current working level of the chain. For example:</p>

<pre class='prettyprint'>
$('selector')
	.find('.classname')
		.hide()
	.end()
	.find('.otherClassname')
		.css('width', '100%')
		.show()
	.end()
	.append( $('&lt;div/&gt;').attr( {
		id: 'someID'
	});
</pre>

		<p>By indenting in this way, we make it clear that the <code>hide()</code> method applies only to the elements matching <code>.classname</code>, before calling <code>end()</code> to return to the original working level - and so on.</p>
	</section>
</article>