<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Alert Widget</h1>
	<p class='ipsPageHeader_info'>
		A menu widget for displaying and selecting lists of options.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=css&do=menus"}'>CSS: Menus</a>, <a href='{url="app=documentation&module=documentation&controller=css&do=sidemenus"}'>CSS: Side Menus</a>, 
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The alert widget is designed to replace the built-in javascript <code>alert</code>, providing a more pleasant user experience as well as more flexible options and built in callbacks. Several other types of alert dialogs are supported too.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>Unlike most UI widgets, the alert widget is instantiated programatically, rather than using the data API - typically as a response to a user action in a controller, for example.</p>

		<p>An alert is created as follows:</p>

<pre class='prettyprint'>
ips.ui.alert.show( {
	type: 'alert',
	icon: 'warning',
	message: 'Alert message',
	subText: 'Message subtext',
	callbacks: {
		ok: function () {
			// Do something
		}
	}
});
</pre>
		<p>Each type of alert shows different buttons depending on the use; a callback can be assigned to each button shown for that type.</p>
		<br>

		<h3 class='ipsType_reset'>Alerts</h3>
		<p class='ipsType_reset'>Shows a message, with a single button to dismiss the alert.</p>
		<br>
		<ul class='ipsList_bullets'>
			<li><strong>Type:</strong> <code>alert</code></li>
			<li><strong>Available button callbacks:</strong> <code>ok</code></li>
		</ul>
		<br>

		<h3 class='ipsType_reset'>Confirm</h3>
		<p class='ipsType_reset'>Confirm shows a message with OK and Cancel buttons.</p>
		<br>
		<ul class='ipsList_bullets'>
			<li><strong>Type:</strong> <code>confirm</code></li>
			<li><strong>Available button callbacks:</strong> <code>ok</code>, <code>cancel</code></li>
		</ul>
		<br>

		<h3 class='ipsType_reset'>Prompt</h3>
		<p class='ipsType_reset'>Shows a message with OK and Cancel buttons, and prompts the user to input a value. Both callbacks receive the entered value as the first parameter.</p>
		<br>
		<ul class='ipsList_bullets'>
			<li><strong>Type:</strong> <code>prompt</code></li>
			<li><strong>Available button callbacks:</strong> <code>ok</code>, <code>cancel</code></li>
		</ul>
		<br>

		<h3 class='ipsType_reset'>Verify</h3>
		<p class='ipsType_reset'>Verify shows a message with Yes and No buttons.</p>
		<br>
		<ul class='ipsList_bullets'>
			<li><strong>Type:</strong> <code>verify</code></li>
			<li><strong>Available button callbacks:</strong> <code>yes</code>, <code>no</code></li>
		</ul>

	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>
		<p>No events are emitted by the alert widget; since callbacks are supported, custom events can be triggered inside them to achieve desired functionality.</p>
	</section>
</article>