<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>AutoCheck Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that assists with selecting checkboxes on the page.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=javascript&do=uipageaction"}'>Javascript: PageAction</a>, <a href='{url="app=documentation&module=documentation&controller=javascript&do=uimenu"}'>Javascript: Menus</a>
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The autoCheck widget makes it simple to select checkboxes of a certain type on a page. This is useful for moderation tools, for example - simply by specifying a filter, topics that match that filter can be selected.</p>

		<p class='cNote'>
			The autoCheck widget works in conjunction with the <a href='{url="app=documentation&module=documentation&controller=javascript&do=uimenu"}'>menu widget</a>. It will not work on other kinds of elements.
		</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample'>
			<a href='#' id='elAutoMenu' data-ipsMenu data-ipsAutoCheck data-ipsAutoCheck-context='#elAutoContext'>Select values <i class='fa fa-caret-down'></i></a>
			<br>
			<br>
			<ul class='ipsMenu ipsHide' id='elAutoMenu_menu'>
				<li class='ipsMenu_item' data-ipsMenuValue='male'><a href='#'>Males</a></li>
				<li class='ipsMenu_item' data-ipsMenuValue='female'><a href='#'>Females</a></li>
				<li class='ipsMenu_item' data-ipsMenuValue='human'><a href='#'>Humans</a></li>
				<li class='ipsMenu_item' data-ipsMenuValue='animal'><a href='#'>Animals</a></li>
			</ul>
			<ul class='ipsList_inline' id='elAutoContext'>
				<li><label><input type='checkbox' data-state='female animal'> Lassie</label></li>
				<li><label><input type='checkbox' data-state='male human'> Obama</label></li>
				<li><label><input type='checkbox' data-state='female human'> Dolly Parton</label></li>
				<li><label><input type='checkbox' data-state='male human'> Johnny Depp</label></li>
				<li><label><input type='checkbox' data-state='male animal'> Toto</label></li>
			</ul>
		</div>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>The widget itself is initialized on the menu trigger element:</p>

<pre class='prettyprint'>
&lt;!-- The trigger --&gt;
&lt;a href='#elMyMenu_menu' id='elMyMenu' data-ipsMenu <strong>data-ipsAutoCheck data-ipsAutoCheck-context='#elContext'</strong>&gt;
	Open Menu
&lt;/a&gt;
</pre>

		<p>Each menu option then receives the special data attribute <code>data-ipsMenuValue</code> (as described in the menu widget documentation) which contains the filter type that the option will check:</p>

<pre class='prettyprint'>
&lt;li class='ipsMenu_item' <strong>data-ipsMenuValue='unapproved'</strong>&gt;
	&lt;a href='...'&gt;Has Unapproved&lt;/a&gt;
&lt;/li&gt;
</pre>

		<p>And finally, each checkbox within the <em>context</em> element (see options below) can receive another special data attribute <code>data-state</code>, to indicate which filters it matches:</p>

<pre class='prettyprint'>
&lt;input type='checkbox' <strong>data-state='unread unapproved'</strong>&gt;
</pre>

		<p>Multiple filter values are simply separated by a space.</p>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>context</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Selector</strong></em>; <em>required</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						A CSS selector which indicates the wrapper element that contains all of the checkboxes which will be checked for filter matches. For example, if a <a href='index.php?section=css&amp;page=datalist'>Data List</a> structure is used, this option might be set to the ID of the root list element.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the menu trigger element.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>autoChecked</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>menu</code> - Reference to the menu trigger element</li>
						<li class='ipsType_light'><code>currentFilter</code> - The filter that has been selected</li>
						<li class='ipsType_light'><code>count</code> - The number of checkboxes that matched</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user selects an option that has a <code>data-ipsMenuValue</code> attribute
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>