<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>AutoComplete Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that adds autocomplete and token support to text inputs
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The autocomplete widget adds two groups of functionality to a text input. Firstly, it adds support for suggestions based on what the user is typing, and secondly, it adds support for tokenization, allowing the user to enter multiple distinct values into one field. This functionality is useful for entering tags, for example.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<p>Type the name of a color.</p>
		<br>

		<ul class='ipsForm ipsForm_vertical ipsAreaBackground ipsPad cExample'>
			<li class='ipsFieldRow ipsFieldRow_noLabel ipsFieldRow_fullWidth'>
				<div class='ipsFieldRow_content'>
					<input type='text' placeholder='' class='ipsField_primary' name='elIgnoreName'
					 	data-ipsAutocomplete 
						data-ipsAutocomplete-dataSource='#elDataSource' 
						data-ipsAutocomplete-maxItems='2'
						data-ipsAutocomplete-unique
					>
				</div>
			</li>
		</ul>
		<datalist id='elDataSource'>
			<option value='red'>Red</option>
			<option value='blue'>Blue</option>
			<option value='green'>Green</option>
			<option value='yellow'>Yellow</option>
			<option value='orange'>Orange</option>
			<option value='black'>Black</option>
			<option value='white'>White</option>
			<option value='pink'>Pink</option>
			<option value='purple'>Purple</option>
			<option value='brown'>Brown</option>
			<option value='beige'>Beige</option>
		</datalist>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>The autocomplete widget should be initialized on a text input with the correct widget key attribute:</p>

<pre class='prettyprint'>
&lt;input type='text' placeholder='Enter text to search' name='field_name'
 	<strong>data-ipsAutocomplete 
	data-ipsAutocomplete-dataSource='...' </strong>
&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>dataSource</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Mixed</strong></em>; <em>optional</em>; default value: <em>none</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the data source that the autocomplete widget should use for suggestions. Possible values:
						<br>
						<br>

						<ul class='ipsList_bullets'>
							<li><strong>A URL</strong> - when a URL is supplied, the widget will fetch results from this address with the current value as the parameter <code>q</code>, expecting a JSON object in response. </li>
							<li><strong>A selector</strong> - a selector which locates a <code>datalist</code> element on the page, the options of which will provides the results</li>
							<li><code><strong><em>none</em></strong></code> - initializes the autocomplete widget with no dataSource, meaning suggestions will not be offered to the user</li>
						</ul>
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>maxItems</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the maximum number of tokens the user can enter into the field. When the maximum is reached, no further tokens can be added.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>minLength</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the <em>minimum</em> length a value must be, when <code>freeChoice</code> is true.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>maxLength</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the <em>maximum</em> length a value can be, when <code>freeChoice</code> is true.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>unique</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether tokens entered must be unique. If <code>true</code>, a duplicate will not be permitted and a tooltip will inform the user why. In addition, when a token is used it is automatically removed from the list of suggestions offered for further tokens.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>freeChoice</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If <code>true</code>, the user will be able to enter their own values. If <code>false</code>, they will only be able to select values from the suggestion list. e.g.
						<br><br><br>

						<ul class='ipsForm ipsForm_vertical ipsAreaBackground ipsPad_half cExample'>
							<li class='ipsFieldRow ipsFieldRow_noLabel'>
								<div class='ipsFieldRow_content'>
									<input type='text' placeholder=''
									 	data-ipsAutocomplete 
										data-ipsAutocomplete-dataSource='#elDataSource2' 
										data-ipsAutocomplete-maxItems='2'
										data-ipsAutocomplete-freeChoice='false'
										data-ipsAutocomplete-unique
									>
								</div>
							</li>
						</ul>
						<datalist id='elDataSource2'>
							<option value='red'>Red</option>
							<option value='blue'>Blue</option>
							<option value='green'>Green</option>
							<option value='yellow'>Yellow</option>
							<option value='orange'>Orange</option>
							<option value='black'>Black</option>
							<option value='white'>White</option>
							<option value='pink'>Pink</option>
							<option value='purple'>Purple</option>
							<option value='brown'>Brown</option>
							<option value='beige'>Beige</option>
						</datalist>
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>forceLower</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Forces all tokens entered to be lowercase.
					</div>
				</div>
			</li>		
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>resultsElem</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Selector</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						By default, when suggestions are presented they will appear in a floating list attached to the text field. If a selector is provided in this option, the results will instead be inserted into the element it locates.
					</div>
				</div>
			</li>	
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>queryParam</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>; default value: <em>q</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If a URL is used for <code>dataSource</code>, this parameter provides the parameter name used for the lookup e.g. <code>index.php?<strong>q</strong>=&lt;term&gt;</code>.
					</div>
				</div>
			</li>			
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>addTokenText</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>; default value: <em>'Add tag'</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If <code>freeChoice</code> is false, this option specifies the text of the link that the user will click to display the suggestions list.
					</div>
				</div>
			</li>	
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>addTokenTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.autocomplete.addToken</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If <code>freeChoice</code> is false, this option specifies the template that will be used to build the link that the user will click to display the suggestions list.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>fieldTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.autocomplete.field</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The key to the template that will be used to build the widget wrapper (into which the original text field is inserted).
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>resultsTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.autocomplete.resultWrapper</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The key to the template that will be used to build the suggestions list wrapper
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>resultItemTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.autocomplete.resultItem</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The key to the template that will be used to build an item within the suggestions list. For example, in a list for selecting colors, the template might show a swatch alongside the name.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>tokenTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.autocomplete.token</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The key to the template that will be used to render an individual token when it is created in the field
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>tokenTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.autocomplete.token</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The key to the template that will be used to render an individual token when it is created in the field
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the original text field.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>autoCompleteReady</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>elemID</code> - ID of the element the widget was initialized on</li>
						<li class='ipsType_light'><code>elem</code> - Reference to the above element</li>
						<li class='ipsType_light'><code>currentValues</code> - Array of current values in the widget (in this case, values that already existed when the widget was initialized)</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the autocomplete widget is ready for interaction (i.e. the wrapper is built and existing values have been constructed and inserted).
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>tokenAdded</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>token</code> - The value of the token that has been added</li>
						<li class='ipsType_light'><code>tokenList</code> - Array of all current token values</li>
						<li class='ipsType_light'><code>totalTokens</code> - Count of the number of tokens added</li>
						<li class='ipsType_light'><code>html</code> - The HTML representing this item in the results list</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when a token is created in the text field, either by selecting a value or hitting the delimiter character (comma by default)
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>tokenDeleted</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>token</code> - The value of the token that has been deleted</li>
						<li class='ipsType_light'><code>tokenList</code> - Array of all current token values</li>
						<li class='ipsType_light'><code>totalTokens</code> - Count of the number of tokens added</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when a token is deleted
					</div>
				</div>
			</li>
		</ul>
	</section>

</article>