<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Captcha Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that facilitates using captcha anti-spam measures
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The Captcha widget is designed to allow captcha to be used dynamically, including situations where it is initialized after the page has loaded (e.g. in popups). The necessary javascript libraries from providers are loaded on the fly. The widget presently supports reCaptcha and KeyCaptcha.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>The widget is initialized as follows:</p>

<pre class='prettyprint'>
&lt;div data-ipsCaptcha data-ipsCaptcha-service='recaptcha' data-ipsCaptcha-key='...'&gt; &lt;/div&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>service</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>required</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the captcha service to initialize. Either <code>recaptcha</code> or <code>keycaptcha</code>.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>key</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>required for <code>recaptcha</code></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the reCaptcha API key to use. Not used for KeyCaptcha.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>lang</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional for <code>recaptcha</code></em>; default value: <em>en-US</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the language to load for reCaptcha. Not used for KeyCaptcha.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>theme</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional for <code>recaptcha</code></em>; default value: <em>white</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the theme to load for reCaptcha. Not used for KeyCaptcha.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>The Captcha widget does not emit any events.</p>
	</section>
</article>

