<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Chart Widget</h1>
	<p class='ipsPageHeader_info'>
		Builds charts by using Google Charts to transform tables of data
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The Chart widget takes a specially-formatted table of data, and uses Google Charts to render it as an attractive chart.</p>

		<p class='cNote'>
			The Chart widget is designed for use soley with the output of the <code>\IPS\Helpers\Chart</code> class and is documented here for completeness only. Consult the documentation for the PHP class for more information.
		</p>
	</section>

	<section>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>type</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>required</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the type of chart to render, e.g. <code>LineChart</code>
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>extraOptions</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Object</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Object of extra options passed through to the Google Charts library.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<h2>Events</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>chartInitialized</strong></code></h4> 
					<br>
					<div class='ipsDataItem_meta'>
						Triggered after the chart has been initialized.
					</div>
				</div>
			</li>
		</ul>
	</section>

</article>