<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Dialog Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that builds and launches dialog windows
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The dialog widget displays popup windows within the page, typically loading content from a remote source.</p>
	</section>

	<section>
		<h2>Usage</h2>

		<p>A dialog is defined simply by including the widget key as an attribute on a trigger element. It is recommended that the trigger element be a link or button, so that if the user has javascript disabled their browser can take them to a full-page version of the dialog contents.</p>

<pre class='prettyprint'>
&lt;a href='...' <strong>data-ipsDialog data-ipsDialog-url='...'</strong>&gt;Launch dialog&lt;/a&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>url</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If provided, the dialog contents will be loaded by calling this URL when the dialog is launched.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>content</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Selector</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If the dialog content already exists in the DOM, this option should be a selector that will locate the wrapper element for the content.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>modal</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If <code>true</code>, the page background will fade, preventing the user from interacting with it until the dialog is dismissed.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>title</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Sets the title shown in the dialog window. If not set, no title bar will display.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>size</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If provided, will set a special class on the dialog designed to change its size. Currently, <code>narrow</code> and <code>wide</code> are supported as values for this option. If not provided, the default dialog width will be used.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>close</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the dialog should be built with a close button.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>fixed</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the dialog is fixed. A fixed dialog is anchored to the viewport, not the page. Its height will also be fixed, with the content scrolling inside if necessary. If this is false, the dialog will scroll with the page, and it will expand to fit all the content being shown, regardless of length.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>callback</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Function</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies a callback function that will be executed after the dialog has loaded remote content. <strong>Note:</strong> this option cannot be provided via the data API, and is therefore only available when interacting with <code>ips.ui.dialog</code> directly.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>forceReload</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						By default, once a dialog has loaded its content, it will not do so again even if the dialog is relaunched. By setting this option to <code>true</code>, the dialog will call the <em>url</em> every time it is opened. This option only takes effect when the <em>url</em> option is used.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>