<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>FlashMsg Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that displays flash messages to the user
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The flashMsg widget can be used to display a 'flash message' to the user - a short notification that appears on the screen for a few seconds, before disappearing. It is commonly used for 'success' messages when an action occurs.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample'>
			<a href='#' class='ipsButton ipsButton_primary ipsButton_medium' id='elFlashExample'>Show a flash message</a>
		</div>

		<script type='text/javascript'>
			$('#elFlashExample').on('click', function (e) {
				e.preventDefault();
				ips.ui.flashMsg.show('This is an example flash message');
			});
		</script>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>A flash message <em>can</em> be created with the data API, as follows:</p>

<pre class='prettyprint'>
&lt;span <strong>data-ipsFlashMsg data-ipsFlashMsg-text='My message'</strong>&gt;
</pre>
	
		<p>The element used with this method is not important; the widget will not interact with the element in any way.</p>

		<p>However, in most cases, flash messages will be created on the fly in response to user actions, so the more common use will be calling them programatically. This can be done in javascript modules with the following code:</p>

<pre class='prettyprint lang-js'>
ips.ui.flashMsg.show('My message');
</pre>
		<br>

		<h3>Automatic creation</h3>
		<p>Flash messages can be automatically created in two additional ways:</p>

		<ul class='ipsList_bullets ipsType_normal'>
			<li><strong>Cookies</strong> - set a cookie with the key <code>flmsg</code>. The cookie will be deleted after the message displays.</li>
			<li><strong>URL</strong> - pass the parameter <code>flmsg</code> in the page URL, with the value being the message to show.</li>
		</ul>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>text</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>required</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The text to display in the flash message. A sentence or two maximum is recommended.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>
		<p>The flashMsg widget does not emit any events.</p>
	</section>
</article>