<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Form Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that sets up advanced form field types
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#behaviors'>Specifiying Behaviors</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The Form widget is designed to set up a number of simple &amp; useful form field types and behaviors found in the IPS Social Suite, such as linked toggle interactions.</p>

		<p class='cNote'>The Form widget is generally designed to work with the output of the <code>\IPS\Helpers\Form</code> class. Although the behaviors it provides can be used separately too, we recommend you read the documentation for the PHP class to understand them better.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<p>To set up the form widget, you simply call it on an element that wraps the form fields (typically the <code>form</code> itself):</p>

<pre class='prettyprint'>
&lt;form method='post' action='...' <strong>data-ipsForm</strong>&gt;
</pre>

		<p>The widget looks for other data attributes within the element and works with them directly. See below for information.</p>
	</section>

	<section>
		<a id='behaviors'></a>
		<h2>Specifying behaviors</h2>

		<p>Most behaviors in a form are specified by adding the <code>data-control</code> attribute to the field, or field row (depending on the type of behavior). The HTML5 field types <code>number</code>, <code>date</code> and <code>color</code> are automatically set up and don't explicitly require the <code>data-control</code> attribute shown below.</p>

		<p>Multiple behaviors can be specified by entering the attribute value as a space-separated list.</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="number"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: field element</p>
		<p>
			Provides validation of the entered number when the field is blurred.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="toggle"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: option inside select, checkboxes or radios</p>
		<p>
			Provides complex toggling behaviors, where form rows or inputs can be selectively shown or hidden based on the value of another field. The attribute <code>data-toggles</code> should be included on the element, containing a selector matching elements to be shown when the field is checked/selected.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="unlimited"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: 'unlimited' checkbox element</p>
		<p>
			When checked, disables and empties any non-checkbox input, select or textarea within the same form row.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="selectDisable"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: select element</p>
		<p>
			Provides a mechanism whereby another form element can be disabled when a specific option within the select control is chosen. The relevant <code>option</code> should have a <code>data-disable</code> attribute which is a selector used to locate the element to be disabled. For example:
		</p>
<pre class='prettyprint'>
&lt;select data-control='selectDisable'&gt;
	&lt;option&gt;Normal option&lt;/option&gt;
	&lt;option data-disable='#other_field'&gt;Disabling option&lt;/option&gt;
&lt;/select&gt;

&lt;input type='text' id='other_field'&gt;
</pre>
		<br>

		<h3 class='ipsType_reset'><code>data-control="date"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: date element</p>
		<p>
			Provides a polyfill for date fields in browsers that do not support the HTML <code>date</code> input type natively.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="color"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: date element</p>
		<p>
			Provides a polyfill for color fields in browsers that do not support the HTML <code>color</code> input type natively, or adds a text input allowing manual inputting in browsers that do.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="dimensions"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: element wrapping dimension inputs</p>
		<p>
			Provides a resizable handle to visually select the desired dimensions. Two <code>number</code> inputs should exist in the form row; one for width with the class <code>ipsWidthHeight_width</code> and another with the class <code>ipsWidthHeight_height</code>.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="dimensionsUnlimited"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: 'unlimited' checkbox element</p>
		<p>
			Used to disable the dimensions control, above.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="codemirror"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: textarea input</p>
		<p>
			Replaces the textarea with a CodeMirror instance, for rich code editing.
		</p>
		<br>

		<h3 class='ipsType_reset'><code>data-control="jsDisable"</code></h3>
		<p class='ipsType_reset ipsType_light'>Applied to: form inputs</p>
		<p>
			Disables the element if javascript is enabled.
		</p>

	</section>
</article>