<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Hovercard Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that displays a hovering popup
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The hovercard widget can be used to display a popup with remote content, which is attached to a trigger element.<br>
	</section>

	<section>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample'>
			<a href='{expression="\IPS\Member::loggedIn()->url()->setQueryString( 'do', 'hovercard' )"}' data-ipsHover>Hover on me</a>
		</div>
	</section>

	<section>
		<h2>Usage</h2>

		<p>The hovercard widget is initialized by including the widget key attribute on a link:</p>

<pre class='prettyprint'>
&lt;a href='...' <strong>data-ipsHover</strong>&gt;
	Hover on me
&lt;/a&gt;
</pre>
		<p>The URL that the link points to is also the URL that is called to fetch the hovercard content, by default.</p>
	</section>

	<section>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>target</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If a URL other than the link's <code>href</code> should be used to load the hovercard content, it can be specified in this option.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>timeout</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em><strong>optional</strong></em>; default value: <em>0.3</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The number of seconds between the user hovering on the element and the hovercard beginning to load. 
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>attach</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Selector</strong></em>; <em><strong>optional</strong></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The element that the hovercard will be attached to. By default, this is the same element that the widget is initialized on.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>width</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em><strong>optional</strong></em>; default value: <em>300</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The width in pixels at which the hovercard will display.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>onClick</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If <code>true</code>, the hovercard will be activated only when the user clicks on the element. By default, the hovercard will show on hover.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>