<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Menu Widget</h1>
	<p class='ipsPageHeader_info'>
		A menu widget for displaying and selecting lists of options.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=css&do=menus"}'>CSS: Menus</a>, <a href='{url="app=documentation&module=documentation&controller=css&do=sidemenus"}'>CSS: Side Menus</a>, 
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#pinging'>Pinging URLs from Items</a></li>
		<li><a href='#values'>Providing Menu Values</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The menu widget adds interactivity to menu elements created with HTML &amp; CSS. Menus present a list of options for the user to choose from as a popup 'attached' to the trigger element. Menus can optionally allow users to check one or more of the options.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>The menu widget does not build the menu element itself; it should exist in the page as an HTML element with the appropriate CSS classes already added to it (a decision made so that menus can be accessible even without javascript enabled). The attributes to initialize the menu should be added to the <strong>trigger element</strong> - that is, the element a user will click to show the menu. Typically this would be a link or button.</p>

		<p>The menu element should have the same ID as the trigger element, but suffixed with <code>_menu</code>; e.g. if the trigger has the ID 'trigger', the ID on the menu element should be 'trigger_menu'.</p>

		<p>With these conditions met, initializing the menu simply consists of adding the widget attribute to the trigger.</p>

<pre class='prettyprint'>
&lt;!-- The trigger --&gt;
&lt;a href='#elMyMenu_menu' id='elMyMenu' <strong>data-ipsMenu</strong>&gt;Open Menu&lt;/a&gt;

&lt;!-- The menu --&gt;
&lt;ul id='elMyMenu_menu' class='ipsMenu'&gt;
	...
&lt;/ul&gt;
</pre>
		<br>

		<a id='pinging'></a>
		<h3>Pinging URLs from items</h3>

		<p>The menu widget provides a mechanism for pinging the menu item URL via AJAX instead of following the link directly. To use this behavior, provide the <code>data-action</code> data attribute on the menu list item:</p>

<pre class='prettyprint'>
&lt;li class='ipsMenu_item' data-action='ipsMenu_ping'&gt;&lt;a href='...'&gt;Menu item&lt;/a&gt;&lt;/li&gt;
</pre>
		<br>

		<a id='values'></a>
		<h3>Providing menu values</h3>

		<p>By including the attribute <code>data-ipsMenuValue</code> on your menu item, you can provide a value which will be passed by events, and can be used by event handlers to identify the menu item:</p>

<pre class='prettyprint'>
&lt;li class='ipsMenu_item' data-ipsMenuValue='itemID'&gt;&lt;a href='...'&gt;Menu item&lt;/a&gt;&lt;/li&gt;
</pre>

	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>className</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>; default value: <em>ipsMenu</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Provides the base menu classname that the widget will use. By default this is the standard <code>ipsMenu</code> class, but by passing a different classname, alternative menu styles can be built.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>closeOnClick</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the menu element will close when an item is clicked.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>closeOnBlur</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the menu element will close when somewhere <em>other</em> than the menu is clicked or focused (e.g. the document).
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>appendTo</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Selector</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						By default, the menu element is moved and appended to the global container element (<code>body</code>, usually). By using this option, you can control which element the menu will be inserted into - useful when a menu is being created inside a popup for example.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>activeClass</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies a classname that will be applied to the <em>trigger element</em> when the menu is opened.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>selectable</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Mixed</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies whether the menu will have 'selectable' functionality, allowing items to be checked and unchecked. If the value passed is <code>radio</code>, only one item will be selectable at once. If value passed is <code>checkbox</code>, multiple items can be selected. Note that the menu must have the correct CSS classes already for selectable functionality to work. See <a href='index.php?section=css&amp;page=menus'>CSS: Menu</a>.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>withStem</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the menu will have a stem to indicate its relationship to the trigger.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>stemOffset</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>; default value: <em>15</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						A value that indicates the offset of the stem, i.e. the distance from the edge to the center point of the stem. Should rarely need to be set unless the CSS classes are changed significantly. 
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>stopLinks</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Stops menu item links from being followed by the browser by calling <code>preventDefault</code> on the event.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>above</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						By default, menus will <em>prefer</em> to open below the trigger. Setting this option to <code>true</code> will cause this menu to prefer being above the trigger instead.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the trigger element.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>menuOpened</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>elemID</code> - The ID of the trigger element this menu belongs to</li>
						<li class='ipsType_light'><code>originalEvent</code> - The original event object from the click</li>
						<li class='ipsType_light'><code>menu</code> - Reference to the menu element</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user opens a menu by clicking on the trigger
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>menuClosed</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>elemID</code> - The ID of the trigger element this menu belongs to</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the menu closes
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>menuPingSuccessful</strong></code></h4> 
					<span class='ipsType_light'>No data</span>
					<div class='ipsDataItem_meta'>
						Triggered after pinging a URL from a menu item with <code>data-action="ipsMenu_ping"</code>
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>menuItemSelected</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>triggerElem</code> - Reference to the trigger element</li>
						<li class='ipsType_light'><code>triggerID</code> - ID of the trigger element</li>
						<li class='ipsType_light'><code>menuElem</code> - Reference to the menu element</li>
						<li class='ipsType_light'><code>originalEvent</code> - The raw javascript event object from the click</li>
						<li class='ipsType_light'><code><em>selectedItemID</em></code> - String containing the value of the selected menu item, if it provided a <code>data-ipsMenuValue</code> attribute.</li>
						<li class='ipsType_light'><code><em>selectedItems</em></code> - Object containing references to checked items, when menu is <code>selectable</code></li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user selects an item within the menu
					</div>
				</div>
			</li>
		</ul>
</article>