<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Pagination Widget</h1>
	<p class='ipsPageHeader_info'>
		Simple widget providing event hooks for pagination.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The Pagination widget wraps pagination HTML in order to emit events that controllers can use to provide interactivity. It also adds some basic usability to the page jump menu.</p>

		<p class='cNote'>
			The Pagination widget will generally be implemented by the PHP classes used to build tables, lists etc. Consult the relevant backend documentation for information on automatically supporting pagination in those classes.
		</p>
	</section>

	<section>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>ajaxEnabled</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether events are triggered by the pagination when the user clicks a page number. This option can be changed on the fly by changing the value of the <code>data-ipsPagination-ajaxEnabled</code> attribute.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>pages</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>required</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the highest possible page number for this set of results. Used to display an error to the user if they try and jump to a page number that does not exist.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>perPage</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>; default value: 25
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies the number of results that are shown on each page.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the pagination wrapper.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>paginationClicked</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>href</code> - URL of the page that was clicked</li>
						<li class='ipsType_light'><code>hrefTitle</code> - <code>title</code> attribute of the page link that was clicked</li>
						<li class='ipsType_light'><code>paginationElem</code> - Reference to the pagination wrapper element</li>
						<li class='ipsType_light'><code>pageElem</code> - Reference to the page link element that was clicked</li>
						<li class='ipsType_light'><code>perPage</code> - The perPage value specified in the widget options</li>
						<li class='ipsType_light'><code>pageNo</code> - The page number that was clicked, as specified in the <code>data-page</code> attribute on the page link</li>
						<li class='ipsType_light'><code>originalEvent</code> - The original event object from the click event. Can be used to preventDefault on the event to stop the browser from following the link.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user clicks a page number or uses the page jump menu.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>paginationJump</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>perPage</code> - The perPage value specified in the widget options</li>
						<li class='ipsType_light'><code>pageNo</code> - The page number that was clicked, as specified in the <code>data-page</code> attribute on the page link</li>
						<li class='ipsType_light'><code>originalEvent</code> - The original event object from the click event. Can be used to preventDefault on the event to stop the browser from following the link.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user jumps to a new page using the pagination jump menu
					</div>
				</div>
			</li>
		</ul>
</article>