<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>PageAction Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that provides an interface for performing actions on large numbers of items on the page.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=javascript&do=uiautocheck"}'>Javascript: AutoCheck</a> 
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The PageAction widget implements an interface that enables actions to be taken on multiple items on the page. This model is commonly used for multi-moderation actions.</p>

		<p class='cNote'>The PageAction widget can work in tandem with the <a href='{url="app=documentation&module=documentation&controller=javascript&do=uiautocheck"}'>AutoCheck</a> widget to provide a streamlined workflow that saves the user from having to manually click many checkboxes to perform actions.</p> 
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<p>Select some checkboxes in the example below. Note that the options in the page action menu at the bottom of the screen change depending on which checkboxes are selected. This example does not submit anywhere.</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<p class='ipsType_reset'>Select items to moderate:</p>
			<form action='#' method='post' data-ipsPageAction>
				<ul class='ipsList_inline'>
					<li><input type='checkbox' data-actions='approve move feature'> Item 1</li>
					<li><input type='checkbox' data-actions='approve'> Item 2</li>
					<li><input type='checkbox' data-actions='move feature'> Item 3</li>
					<li><input type='checkbox' data-actions='feature'> Item 4</li>
					<li><input type='checkbox' data-actions='move'> Item 5</li>
				</ul>
				<div data-role='pageActionOptions'>
					<select data-role='moderationAction'>
						<option value='approve' data-icon='check-circle'>Approve</option>
						<option value='move' data-icon='arrow-right'>Move</option>
						<optgroup label='feature' data-icon='star' data-action='feature'>
							<option value='feature'>Feature</option>
							<option value='unfeature'>Unfeature</option>
						</optgroup>
					</select>
					<button type="submit">{lang="submit"}</button>
				</div>
			</form>
		</div>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>The PageAction widget requires certain elements to exist on the page in order to operate. The widget attribute itself should appear on the <code>form</code> element, or some wrapper around it. Your table content should appear inside of the form.</p>

<pre class='prettyprint'>
&lt;form method='get' action='...' <strong>data-ipsPageAction</strong>&gt;
&lt;!-- content rows --&gt;
&lt;/form&gt;
</pre>
		<br>

		<h3>Adding actions</h3>

		<p>To add actions to the widget, within the form tag you should have a <code>div</code> with the attribute <code>data-role='pageActionOptions'</code>. Within this div should be a select box control containing your actions, and a submit button (for accessibility when javascript is disabled.</p>

		<p>Actions are specified by the <code>option</code>s you add to the select box. Actions can either be single items, or grouped items inside an <code>optgroup</code>.</p>

		<h4>Single actions</h4>

		<p>A single action is simply an <code>option</code> element that will display as a button on the PageAction toolbar. You should specify the icon that the button will use by adding a <code>data-icon</code> attribute to the option element, and this should be one of the FontAwesome icons without the preceding <em>fa-</em>.</p>

		<h4>Multiple actions</h4>

		<p>Multiple actions are those which have more than one related state, e.g. feature and unfeature. These display as a single button in the widget, with a menu to select the state. They are created by adding option elements to an <code>optgroup</code>. The <code>optgroup</code> should contain the <code>data-icon</code> attribute, and a <code>data-action</code> attribute which will be sent as the parameter name when the form is submitted.</p>

		<p>Therefore, our actions HTML might look like this:</p>

<pre class='prettyprint'>
&lt;div data-role='pageActionOptions'&gt;
	&lt;select name='...' data-role='moderationAction'&gt;
		&lt;option value='approve' data-icon='check-circle'&gt;Approve&lt;/option&gt;
		&lt;option value='move' data-icon='arrow-right'&gt;Move&lt;/option&gt;
		&lt;optgroup label='feature' data-icon='star' data-action='feature'&gt;
			&lt;option value='feature'&gt;Feature&lt;/option&gt;
			&lt;option value='unfeature'&gt;Unfeature&lt;/option&gt;
		&lt;/optgroup&gt;
	&lt;/select&gt;
&lt;/div&gt;
</pre>
	<br>

	<h3>Triggering the PageAction toolbar</h3>

	<p>With the actions set up, you next need to add the triggers to the checkboxes in your form. This is done by adding a special <code>data-actions</code> attribute to the checkbox which contains a space-separated list of actions available for that checkbox. For example:</p>

<pre class='prettyprint'>
&lt;input type='checkbox' data-actions='approve feature'&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<p>The PageAction widget does not accept any options.</p>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>The PageAction widget does not emit any events. When toolbar buttons are selected, the widget changes the value of the <code>select</code> control behind the scenes, so observe that control for value changes.</p>
	</section>
</article>