<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Rating Widget</h1>
	<p class='ipsPageHeader_info'>
		Transforms radio controls into a rating system
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The Rating widget takes a group of radio controls with numerical values, and replaces them with clickable stars so that users can indicate a rating value.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample'>
			<p>Choose a rating:</p>
			<span data-ipsRating data-ipsRating-changerate="true" data-ipsRating-size="veryLarge">
				<input type="radio" name="file_rating_value" id="file_rating_value_1" value="1"> <label for="file_rating_value_1">1</label>
				<input type="radio" name="file_rating_value" id="file_rating_value_2" value="2"> <label for="file_rating_value_2">2</label>			
				<input type="radio" name="file_rating_value" id="file_rating_value_3" value="3"> <label for="file_rating_value_3">3</label>			
				<input type="radio" name="file_rating_value" id="file_rating_value_4" value="4"> <label for="file_rating_value_4">4</label>			
				<input type="radio" name="file_rating_value" id="file_rating_value_5" value="5"> <label for="file_rating_value_5">5</label>
			</span>
		</div>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>To use the rating widget, your HTML should contain the following structure:</p>

<pre class='prettyprint'>
&lt;span data-ipsRating&gt;
	&lt;input type="radio" name="ratingValue" id="ratingValue_1" value="1"&gt; &lt;label for="ratingValue_1"&gt;1&lt;/label&gt;
	&lt;input type="radio" name="ratingValue" id="ratingValue_2" value="2"&gt; &lt;label for="ratingValue_2"&gt;2&lt;/label&gt;			
	&lt;input type="radio" name="ratingValue" id="ratingValue_3" value="3"&gt; &lt;label for="ratingValue_3"&gt;3&lt;/label&gt;			
	&lt;input type="radio" name="ratingValue" id="ratingValue_4" value="4"&gt; &lt;label for="ratingValue_4"&gt;4&lt;/label&gt;			
	&lt;input type="radio" name="ratingValue" id="ratingValue_5" value="5"&gt; &lt;label for="ratingValue_5"&gt;5&lt;/label&gt;
&lt;/span&gt;
</pre>
		<p>The field name attributes, IDs and labels are not fixed; they can be anything. The radio values, however, should be numeric and in ascending order.</p>
		<p>Any number of stars is supported - simply include the correct number of radio controls with the relevant values.</p>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>url</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If a URL is provided, it will be called via AJAX when the user clicks a star to choose a rating. The <code>rating</code> parameter will contain the selected value.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>changeRate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies whether the user can choose a new rating, if they have already rated the item.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>canRate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the user can select a rating in the widget.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>size</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If specified, applies an additional size class to the rating stars to control their size. Supported values: <code>small</code>, <code>large</code>, <code>veryLarge</code>.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the rating wrapper.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>ratingSaved</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>value</code> - Numeric value of the chosen rating</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user selects a rating. If the <code>url</code> option is used, this will be triggered <em>after</em> the URL is successfully pinged. It will not be triggered if the URL fails.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>ratingFailed</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>value</code> - Numeric value of the chosen rating</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the <code>url</code> option is used and pinging the provided URL fails.
					</div>
				</div>
			</li>
		</ul>
	</section>

</article>