<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>SideMenu Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget for making a standard side menu interactive
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The SideMenu widget works with standard side menu markup and makes it both interactive and improves its functionality when the user is visiting on a mobile device.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>In most cases, a side menu should be built using the standard CSS classes. The data attribute is then added to the wrapper element. When the widget is to be used in responsive mode, an additional title should be supplied within the element, with the class <code>ipsSideMenu_mainTitle</code>; a link inside of that title should have the attribute <code>data-action='openSideMenu'</code>:</p>

<pre class='prettyprint'>
&lt;div class='ipsSideMenu' <strong>data-ipsSideMenu</strong>&gt;
	&lt;h3 class="ipsSideMenu_mainTitle ipsAreaBackground_light ipsType_medium"&gt;
		&lt;a href="#modcp_menu" class="ipsPad_double" data-action="openSideMenu"&gt;
			&lt;i class="fa fa-bars"&gt;&lt;/i&gt; &nbsp;Menu Title&nbsp;&lt;i class="fa fa-caret-down"&gt;&lt;/i&gt;
		&lt;/a&gt;
	&lt;/h3&gt;
	&lt;!-- Menu content belongs here --&gt;
&lt;/div&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>responsive</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies whether the side menu will add responsive behavior. It does this by hiding the menu, and showing a link to manually open it on-demand.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>type</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>; default value: <em>radio</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines the type of selectable behavior the menu uses. By default, only one menu item can be selected; others will be deselected when a new one is clicked. This is <code>radio</code> behavior. In contrast, <code>check</code> will allow multiple items to be selected at once.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>group</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em>optional</em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Determines whether the above setting applies to the whole menu (when this option is <code>false</code>), or whether each group within the menu is treated as an individual menu for the purposes of the <em>radio</em> selection.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the side menu.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>itemClicked.sideMenu</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>selectedItemID</code> - The <em>ipsMenuValue</em> value of the item that was selected</li>
						<li class='ipsType_light'><code>selectedItems</code> - Array of currently-selected values</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user selects an item in the menu.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>`