<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Spoiler Widget</h1>
	<p class='ipsPageHeader_info'>
		Hides text until the user chooses to reveal it
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The spoiler widget is designed to hide designated text until the user clicks to reveal it. It is typically used on content posted by users from CKEditor.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>Simply add the widget key attribute to the element containing the text to be hidden:</p>

<pre class='prettyprint'>
&lt;div <strong>data-ipsSpoiler</strong>&gt;
	This text will be hidden from users initially
&lt;/div&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<p>The Spoiler widget does not have any configuration options.</p>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the spoiler wrapper.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>spoilerRevealed</strong></code></h4> 
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user clicks to reveal the hidden text.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>