<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Stack Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget for creating a form control which accepts an arbitrary number of values
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The stack widget is a special form control which enables users to enter multiple values for a form field. In 3.x, this was achieved by entering values in a textarea with each value on a new line. This widget is designed to make that functionality more user friendly.</p>
		<p class='cNote'>It is expected that the <code>\IPS\Helpers\Form</code> class will be used to build the HTML for stackable controls. Consult the documentation for the PHP class for more information.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample ipsFieldRow'>
			<div class="ipsField_stack" data-ipsStack data-ipsStack-sortable data-ipsStack-fieldname="theme_custom_setting_type_content">
				<ul class="ipsList_reset" data-role="stack">
					<li class="ipsField_stackItem" data-role="stackItem">
						<span class="ipsField_stackDrag ipsDrag ipsJS_show" data-action="stackDrag">
							<i class="fa fa-bars ipsDrag_dragHandle"></i>
						</span>
						<span class="ipsField_stackDelete ipsCursor_pointer ipsJS_show" data-action="stackDelete">
							<i class="fa fa-times"></i>
						</span>
						<input type="submit" class="ipsField_stackDelete ipsJS_hide" name="form_remove_stack[307ab71b155fa1962a673c3bae6be8d4]" value="✗">
						<div data-ipsStack-wrapper>
							<div>
								<input type="text" name="theme_custom_setting_type_content[]" value="Value One" id="sc_content_0">			
							</div>
						</div>
					</li>
					<li class="ipsField_stackItem" data-role="stackItem">
						<span class="ipsField_stackDrag ipsDrag ipsJS_show" data-action="stackDrag">
							<i class="fa fa-bars ipsDrag_dragHandle"></i>
						</span>
						<span class="ipsField_stackDelete ipsCursor_pointer ipsJS_show" data-action="stackDelete">
							<i class="fa fa-times"></i>
						</span>
						<input type="submit" class="ipsField_stackDelete ipsJS_hide" name="form_remove_stack[307ab71b155fa1962a673c3bae6be8d4]" value="✗">
						<div data-ipsStack-wrapper>
							<div>
								<input type="text" name="theme_custom_setting_type_content[]" value="" id="sc_content_0">			
							</div>
						</div>
					</li>			
				</ul>
				<a class="ipsField_stackAdd ipsButton ipsButton_light ipsButton_small ipsJS_show" href="#" data-action="stackAdd" role="button"><i class="fa fa-plus-circle"></i>&nbsp; Add another</a>
				<input type="submit" class="ipsJS_hide" name="form_add_stack" value="Add another">
			</div>
		</div>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>sortable</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>; default value: <em>true</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies whether the values in the stack control can be reordered.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>maxItems</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If provided, specifies the maximum number of values this stack control will accept.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>itemTemplate</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em>optional</em>; default value: <em>core.forms.stack</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If provided, specifies the template which will be used to dynamically build new rows in the stack control.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the tab bar wrapper.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>stackInitialized</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>count</code> - Count of the current number of values in the stack control</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the stack has been built and is initialized.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>stackRowAdded</strong></code></h4> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>count</code> - Count of the current number of values in the stack control</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user adds a new row to the stack control (either by pressing Enter in an existing row, or pressing the 'Add Another' button).
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>