<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Sticky Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget for causing elements to stick to the browser
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The sticky element widget aids navigation, by causing elements to automatically stick to the browwer window when they would otherwise be off-screen due to scrolling. This is a UI concept that is particularly useful for toolbars.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2 class='ipsType_sectionHead'>Usage</h2>

		<p>The widget key attribute should be specified on the element that will become 'sticky'.</p>

<pre class='prettyprint'>
&lt;div id='elWrapper'&gt;
	&lt;div id='elStickyElement' <strong>data-ipsSticky</strong>&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;
</pre>

		<p>The wrapper element represents the element that will visually contain the sticky element. The widget by default simply uses the sticky element's parent.</p>
		<p>The widget attempts to position and size the element when it is 'sticky' correctly, but depending on the situation in which it is used, manual tweaking via CSS may be required.</p>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>stickyClass</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>; default value: <em>ipsSticky</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Classname that will be applied to the element when it is in sticky mode. Useful for applying special styling which indicates it is 'floating'.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>relativeTo</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Selector</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The element which visually appears as the parent of the sticky element. The sticky element's parent is assumed if not specified.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>spacing</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Number</strong></em>; <em>optional</em>; default value: <em>0</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The distance from the top of the browser window, which when met will cause the element to become 'sticky'.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>stickTo</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>; default value: <em>top</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Either <code>top</code> or <code>bottom</code>; determines which edge of the screen the sticky element will stick to.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>width</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Mixed</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Allows you to specify the width of the sticky element when it is in sticky mode. This option can be a Number, in which case it will be set to that number of pixels. It can also be a selector, in which case it will be set to the same width of the first element located by the selector.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>disableIn</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em>optional</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Sticky behavior is often not desired on mobile devices. This option allows you to disable sticky behavior when responsiveness is enabled and the device is currently using one of the viewport keys specified in this option, e.g. <code>phone</code> or <code>tablet</code>.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>The Sticky widget does not emit any events.</p>
	</section>
</article>