<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Tooltip Widget</h1>
	<p class='ipsPageHeader_info'>
		Shows a small message when an element is focused or hovered over.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The Tooltip widget is designed to show a small helpful message in a balloon when certain elements are focused or hovered over. They are particularly useful used in conjunction with toolbars, to provide more information on what action a toolbar button will trigger.</p>
		<p>Tooltip text should be succinct - never more than a few words on a single line.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample'>
			<a href='#' title='This is a tooltip' data-ipsTooltip>Hover on this link</a>
		</div>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>Generally, you only need to add the <code>data-ipsTooltip</code> attribute to an element to display a tooltip. By default it will use the <code>title</code> or <code>aria-label</code> attributes for the tooltip contents:</p>

<pre class='prettyprint'>
&lt;a href='#' title='This is a tooltip' <strong>data-ipsTooltip</strong>&gt;Hover on this link&lt;/a&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>label</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If for some reason you do not want to use the default <code>title</code> attribute for the tooltip contents, the contents can be specified using this option.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>safe</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Boolean</strong></em>; <em><strong>optional</strong></em>; default value: <em>false</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies whether the tooltip contents are safe, i.e. whether they do not contain any user input. <strong>Important:</strong> If the tooltip contents contains any text entered by a user at some stage, this option should be <code>false</code>. Passing unsafe text to the tooltip opens the possibility of an XSS attack. Only set to <code>true</code> if you determine the contents explicitly.
					</div>
				</div>
			</li>
			<li class='ipsDataItem ipsFaded'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>extraClass</strong></code> <span class='ipsBadge ipsBadge_style3'>Not yet supported</span></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies an additional class that will be added to the tooltip when displayed. This can used, for example, to change the color of the tooltip to indicate a warning.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the element.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>tooltipShown</strong></code></h4> 
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the tooltip appears for this element.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>