<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Toggle Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget for toggling between an active and inactive state by transforming a checkbox
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The toggle widget is designed to replace a checkbox form control with mobile-style On/Off toggle switch.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

		<div class='ipsAreaBackground ipsPad cExample'>
			<ul class='ipsList_inline'>
				<li><label><input type='checkbox' value='1' checked data-ipsToggle> Checkbox 1</label></li>
				<li><label><input type='checkbox' value='1' data-ipsToggle> Checkbox 2</label></li>
				<li><label><input type='checkbox' value='1' data-ipsToggle> Checkbox 3</label></li>
			</ul>
		</div>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>Simply add the widget key attribute to any checkbox form control:</p>

<pre class='prettyprint'>
&lt;input type='checkbox' name='posts' value='1' checked <strong>data-ipsToggle</strong>&gt;
</pre>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>template</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Template key</strong></em>; <em><strong>optional</strong></em>; default value: <em>core.forms.toggle</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						The template key referencing the template that should be used to build the toggle widget.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>The toggle widget does not emit any events; you can watch for the <code>change</code> event on the underlying checkbox for state changes.</p>
	</section>
</article>