<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Truncate Widget</h1>
	<p class='ipsPageHeader_info'>
		A widget that truncates blocks of text
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The truncate widget is used to make previews or short versions of blocks of text. It supports removing the extra text entirely, or hiding it behind a 'show more' button. It also works on blocks of rich text containing other media in HTML.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>The widget attribute <code>data-ipsTruncate</code> should be added to an element which wraps the content to be truncated. e.g:</p>

<pre class='prettyprint'>
&lt;div data-ipsTruncate&gt;
	&lt;p&gt;Rich content...&lt;p&gt;
&lt;/div&gt;
</pre>

	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>type</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>; default value: <em>remove</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						Specifies how the truncating is done. <code>remove</code> removes the excess text entirely. <code>hide</code> leaves the excess text on the page, hiding it behind a 'show more' button.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>size</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>Mixed</strong></em>; <em>optional</em>; default value: <em>100</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						<p>Specifies the height the element should be; the excess text is truncated. Three types of value are accepted:</p>

						<ul class='ipsList_bullets'>
							<li>
								<strong>Selector</strong>
								<p class='ipsType_reset'>When a selector is provided, the height of the widget element will be set to the <em>outerHeight</em> of the first element that matches the selector.</p>
							</li>
							<li>
								<strong>Lines value</strong>
								<p class='ipsType_reset'>Text can be truncated to a certain number of lines by providing a value like <code>2 lines</code> (<em>lines</em> is always plural).</p>
							</li>
							<li>
								<strong>Number</strong>
								<p class='ipsType_reset'>A simple number value such as <code>100</code> can be provided, which will truncate the text to that number of pixels.</p>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>expandText</strong></code></h4> 
					<span class='ipsType_light'>
						<em><strong>String</strong></em>; <em><strong>optional</strong></em>; default value: <em>Show more</em>
					</span>
					<br><br>
					<div class='ipsDataItem_meta'>
						If <code>type</code> is <em>hide</em>, this option can be used to change the text shown on the button which will show the hidden content.
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the main widget element.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>truncateExpanded</strong></code></h4> 
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the widget is set to <code>hide</code> truncated content and the user clicks the 'Show more' link to expand the hidden text.
					</div>
				</div>
			</li>
		</ul>
	</section>

</article>