<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Wizard Widget</h1>
	<p class='ipsPageHeader_info'>
		Implements a step-by-step wizard interface
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#options'>Options</a></li>
		<li><a href='#events'>Events</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>
		<p>The Wizard widget implements a step-by-step interface by providing a mechanism for replacing sections of the page when the step is submitted.</p>
		<p class='cNote'>The Wizard widget is designed to be used with the <code>\IPS\Helpers\Wizard</code> class. Consult the PHP documentation for more information on how to use it.</p>
	</section>

	<section>
		<a id='options'></a>
		<h2>Options</h2>

		<p>The Wizard widget does not accept any options.</p>
	</section>

	<section>
		<a id='events'></a>
		<h2>Events</h2>

		<p>Events are emitted on the wizard wrapper.</p>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<h4 class='ipsDataItem_title'><code><strong>wizardStepChanged</strong></code></h4>
					<br>
					<div class='ipsDataItem_meta'>
						Triggered when the user progresses to a different step.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>