<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Using the Data API</h1>
	<p class='ipsPageHeader_info'>
		How to use the UI widgets without writing any javascript.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#initializing'>Initializing Widgets</a></li>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#options'>Passing Options</a></li>
		<li><a href='#autoinit'>Automatic Initialization</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='initializing'></a>
		<h2>Initializing widgets</h2>

		<p>
			UI widgets can now be created on elements without needing to write any code. This is done by specifying special attributes on the element using the HTML5 <code>data</code> attributes. Widgets each define their own behaviors - some wait for user interactions, others might immediately change the display when executed.
		</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>Each UI widget has a base attribute that identifies it, and causes the element to be passed to the widget module to be handled. <em>All</em> widget attributes have the prefix <code>ips</code>.</p>

<pre class='prettyprint'>
&lt;!-- If a widget called 'Widget' existed, we could initialize it on an element like this --&gt;
&lt;div data-ipsWidget&gt;
	...
&lt;/div&gt;
</pre>
	
		<p>In this example, <code>ipsWidget</code> would be referred to as the <strong>widget key</strong>. The <code>data-</code> part of the HTML attribute is implied throughout the documentation for individual widgets.</p>
		<p>Each element can have multiple widgets specified; simply add each necessary widget prefix to the element as above. That said, bear in mind multiple widgets on a single element might cause conflicts if more than one responds to a user interaction. Test to be sure.</p>

	</section>


	<section>
		<a id='options'></a>
		<h2>Passing options</h2>

		<p>Most widgets have a number of options that control their behavior. To pass an option, use this format:</p>

<pre class='prettyprint'>
&lt;div data-ipsWidget
     data-ipsWidget-option1='Option value'
     data-ipsWidget-option2='Another option value'
&gt;
...
&lt;/div&gt;
</pre>
	
		<p>Each option is added as an additional attribute on the element, with the attribute key being <code>data-ipsWidget-</code> followed by the option name.</p>
			
		<p>By default, options are passed as strings because they come from the DOM. However, if the option contains only numbers, it will be cast explicitly as a number when passed into the widget. If the option contains the strings <code>true</code> or <code>false</code>, it will be cast as a boolean. In addition, options without a provided value are treated as the boolean <code>true</code>, meaning it is possible to specify true values like so:</p>

<pre class='prettyprint'>
&lt;div data-ipsWidget data-ipsWidget-showWide&gt;
</pre>
	</section>

	<section>
		<a id='autoinit'></a>
		<h2>Automatic initialization</h2>

		<p>Widgets are automatically initialized when the data API is used as described. Further to that, when new content is <a href='{url="app=documentation&module=documentation&controller=javascript&do=loading"}'>loaded into the page</a> (such as when an AJAX request fires), any widgets within the new content will also be automatically initialized.</p>
	</section>
</article>