<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Local DB Utility (<code>ips.utils.db</code>)</h1>
	<p class='ipsPageHeader_info'>
		Utility for interacting with the user's LocalStorage database.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#methods'>Methods</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>Modern browsers provide a mechanism for storing persistent data directly on a user's computer, called localStorage. This utility exposes some methods for working with localStorage in IPS4.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

<pre class='prettyprint'>
ips.utils.db.set( 'myCategory', 'myKey', 'Hello world' );
ips.utils.db.get( 'myCategory', 'myKey' );
// -> Hello world
ips.utils.db.isEnabled();
// -> true
ips.utils.db.removeByType( 'myCategory' );
// -> 1
</pre>
	</section>

	<section>
		<a id='methods'></a>
		<h2>Methods</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>void</em> <strong>set</strong>( <em>string</em> type, <em>string</em> key, <em>mixed</em> value )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>type</code> - Name of category in which to store this value. Categories are used for later retrieving sets of related values.</li>
						<li class='ipsType_light'><code>key</code> - The unique key for this value.</li>
						<li class='ipsType_light'><code>value</code> - The value to be stored.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Sets a new value, or overwrites an existing balue with the same type and key.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>mixed</em> <strong>get</strong>( <em>string</em> type [, <em>string</em> key] )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>type</code> - The category containing the key to fetch.</li>
						<li class='ipsType_light'><code>key</code> - The key of the value to fetch.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Retrieves a previously set value. If no <code>key</code> is provided, all values in the <code>type</code> are returned.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>void</em> <strong>remove</strong>( <em>string</em> type [, <em>string</em> key] )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>type</code> - The category containing the key to remove.</li>
						<li class='ipsType_light'><code>key</code> - The key of the value to remove.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Removes a previously set value. If no <code>key</code> is provided, all values in the <code>type</code> are removed.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>object</em> <strong>getByType</strong>( <em>string</em> type )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>type</code> - The category name.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Returns an object of all values in the category with the provided name.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>number</em> <strong>removeByType</strong>( <em>string</em> type )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>type</code> - The category name.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Removes all values from the category with the provided name, returning a count of the number of <em>removed</em> items.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>boolean</em> <strong>isEnabled</strong>( )</code></pre> 
					<br>
					<div class='ipsDataItem_meta'>
						Returns a boolean indicating whether the localStorage utility is enabled in this user's browser.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>