<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Cookie Utility (<code>ips.utils.cookie</code>)</h1>
	<p class='ipsPageHeader_info'>
		Utility for working with cookies in the user's browser
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#methods'>Methods</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>This utility provides methods for working with cookies in IPS4. It deals with cookie prefixes and other setting behind the scenes so that you can interact with cookies without having to handle those aspects manually.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

<pre class='prettyprint'>
ips.utils.cookie.set( 'myKey', 'Hello world', true ); // Sets a sticky cookie
ips.utils.cookie.get( 'myKey' );
// -> Hello world
ips.utils.cookie.unset( 'myKey' );
ips.utils.cookie.get( 'myKey' );
// -> undefined
</pre>
	</section>

	<section>
		<a id='methods'></a>
		<h2>Methods</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>void</em> <strong>set</strong>( <em>string</em> key, <em>string</em> value, <em>mixed</em> sticky )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>key</code> - The key to store this value under, used for later retrieval.</li>
						<li class='ipsType_light'><code>value</code> - The value of this cookie.</li>
						<li class='ipsType_light'><code>sticky</code> - The cookie's expiration. If <code>true</code>, the cookie is set to be (effectively) permanent. If <code>-1</code>, the cookie will expire when the page reloads. Alternatively, an explict expiration date can be set by using the correct format, e.g. <code>Mon, 16-Dec-2013 18:00:00 GMT</code></li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Sets a new cookie, or overwrites an existing cookie with the same key.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>string</em> <strong>get</strong>( <em>string</em> key )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>key</code> - The key to fetch.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Retrieves a previously set cookie. If the cookie doesn't exist, <code>undefined</code> is returned.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>void</em> <strong>unset</strong>( <em>string</em> key )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>key</code> - The cookie key to remove.</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Removes a previously set cookie.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>