<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>URL Utility (<code>ips.utils.url</code>)</h1>
	<p class='ipsPageHeader_info'>
		Utility for inspecting URLs
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#example'>Example</a></li>
		<li><a href='#methods'>Methods</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The URL utility makes it easier to work with URLs by returning comprehenive information about a URL you supply, including query parameters, protocol, domain and more. The URL utility is a wrapper around the <em>parseUri</em> library by Steven Levithan.</p>
	</section>

	<section>
		<a id='example'></a>
		<h2>Example</h2>

<pre class='prettyprint'>
ips.utils.url.getParam('page', 'http://www.test.com/index.php?section=example&page=about');
// -> about
</pre>
	</section>

	<section>
		<a id='methods'></a>
		<h2>Methods</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>string</em> <strong>getParam</strong>( <em>string</em> param, <em>string</em> url )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>param</code> - The parameter name to fetch</li>
						<li class='ipsType_light'><code>url</code> - The URL used to locate the parameter</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Returns the value of the parameter <code>param</code> in the provided <code>url</code>.
					</div>
				</div>
			</li>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>object</em> <strong>getURIObject</strong>( <em>string</em> url )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>url</code> - The URL to parse</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Returns an object of data about the provided URL. Consult the <a href='http://stevenlevithan.com/demo/parseuri/js/'>parseUri documentation</a> for information on what this object includes. 
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>