<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Time Utility (<code>ips.utils.time</code>)</h1>
	<p class='ipsPageHeader_info'>
		Utility for working with cookies in the user's browser
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#description'>Description</a></li>
		<li><a href='#methods'>Methods</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='description'></a>
		<h2>Description</h2>

		<p>The time utility provides methods for working with timestamps.</p>
	</section>

	<section>
		<a id='methods'></a>
		<h2>Methods</h2>

		<ul class='ipsDataList'>
			<li class='ipsDataItem'>
				<div class='ipsDataItem_main'>
					<pre class='prettyprint'><code><em>string</em> <strong>readable</strong>( <em>number</em> timestamp )</code></pre> 
					<ul class='ipsDataItem_subList'>
						<li class='ipsType_light'><code>timestamp</code> - UNIX timestamp to use to generate the time string</li>
					</ul>
					<br>
					<div class='ipsDataItem_meta'>
						Returns the time as an approximate relative string, e.g. <em>8 hours ago</em>, <em>2 days ago</em>, <em>Just now</em>.
					</div>
				</div>
			</li>
		</ul>
	</section>
</article>