<ips:template parameters="$content='', $location=''" />

<div class='ipsPageHeader ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle ipsCursor_pointer' data-ipsMenu id='elDocsNav'>Javascript Documentation <i class='fa fa-caret-down'></i></h1>
	<ul class='ipsMenu ipsMenu_auto ipsMenu_selectable ipsHide' id='elDocsNav_menu'>
		<li class='ipsMenu_item'>
			<a href='{url="app=documentation&module=documentation&controller=css"}'>CSS Documentation</a>
		</li>
		<li class='ipsMenu_item ipsMenu_itemChecked'>
			<a href='{url="app=documentation&module=documentation&controller=javascript"}'>Javascript Documentation</a>
		</li>
	</ul>
</div>

<hr class='ipsHr'>
<br>

<div class='ipsColumns ipsColumns_collapsePhone'>
	<div class='ipsColumn ipsColumn_medium' data-ipsTabBar data-ipsTabBar-contentArea='#elDocsContent' data-ipsTabBar-itemSelector='.ipsSideMenu_item' data-ipsTabBar-activeClass='ipsSideMenu_itemActive' data-ipsTabBar-panelPrefix='elDocs'>
		<nav class='ipsSideMenu'>
			<h4 class='ipsSideMenu_title'>General</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="javascript" params="'standards', 'Coding Standards', $location"}
			</ul>

			<h4 class='ipsSideMenu_title'>Framework</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="javascript" params="'overview', 'Overview', $location"}
				{template="menuItem" group="javascript" params="'files', 'File Structure', $location"}
				{template="menuItem" group="javascript" params="'modules', 'Building Modules', $location"}
				{template="menuItem" group="javascript" params="'widgets', 'Creating UI Widgets', $location"}
				{template="menuItem" group="javascript" params="'controllers', 'Controllers', $location"}
				{template="menuItem" group="javascript" params="'templates', 'Templates', $location"}
				{template="menuItem" group="javascript" params="'languages', 'Languages', $location"}
				{template="menuItem" group="javascript" params="'loading', 'Loading Content', $location"}
			</ul>

			<h4 class='ipsSideMenu_title'>UI Widgets</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="javascript" params="'usingwidgets', 'Using the Data API', $location"}
				{template="menuItem" group="javascript" params="'uialert', 'Alert', $location"}
				{template="menuItem" group="javascript" params="'uiautocheck', 'AutoCheck', $location"}
				{template="menuItem" group="javascript" params="'uiautocomplete', 'AutoComplete', $location"}
				{template="menuItem" group="javascript" params="'uicaptcha', 'Captcha', $location"}
				{template="menuItem" group="javascript" params="'uicarousel', 'Carousel', $location, false"}
				{template="menuItem" group="javascript" params="'uichart', 'Chart', $location"}
				{template="menuItem" group="javascript" params="'uidialog', 'Dialog', $location"}
				{template="menuItem" group="javascript" params="'uidrawer', 'Drawer', $location, false"}
				{template="menuItem" group="javascript" params="'uieditor', 'Editor', $location, false"}
				{template="menuItem" group="javascript" params="'uiflashmsg', 'FlashMsg', $location"}
				{template="menuItem" group="javascript" params="'uiform', 'Form', $location"}
				{template="menuItem" group="javascript" params="'uihovercard', 'Hovercard', $location"}
				{template="menuItem" group="javascript" params="'uiinfinitescroll', 'InfiniteScroll', $location"}
				{template="menuItem" group="javascript" params="'uikeynav', 'KeyNav', $location, false"}
				{template="menuItem" group="javascript" params="'uilightbox', 'Lightbox', $location"}
				{template="menuItem" group="javascript" params="'uimenu', 'Menu', $location"}
				{template="menuItem" group="javascript" params="'uipageaction', 'PageAction', $location"}
				{template="menuItem" group="javascript" params="'uipagination', 'Pagination', $location"}
				{template="menuItem" group="javascript" params="'uiquote', 'Quote', $location"}
				{template="menuItem" group="javascript" params="'uirating', 'Rating', $location"}
				{template="menuItem" group="javascript" params="'uiselecttree', 'SelectTree', $location, false"}
				{template="menuItem" group="javascript" params="'uisidemenu', 'SideMenu', $location"}
				{template="menuItem" group="javascript" params="'uispoiler', 'Spoiler', $location"}
				{template="menuItem" group="javascript" params="'uistack', 'Stack', $location"}
				{template="menuItem" group="javascript" params="'uisticky', 'Sticky', $location"}
				{template="menuItem" group="javascript" params="'uitabbar', 'TabBar', $location"}
				{template="menuItem" group="javascript" params="'uitoggle', 'Toggle', $location"}
				{template="menuItem" group="javascript" params="'uitooltip', 'Tooltip', $location"}
				{template="menuItem" group="javascript" params="'uitruncate', 'Truncate', $location"}
				{template="menuItem" group="javascript" params="'uiuploader', 'Uploader', $location, false"}
				{template="menuItem" group="javascript" params="'uivalidation', 'Validation', $location, false"}
				{template="menuItem" group="javascript" params="'uiwizard', 'Wizard', $location"}
				{template="menuItem" group="javascript" params="'uicontrolstrip', '(ACP) Control Strip', $location, false"}
				{template="menuItem" group="javascript" params="'uicustomtags', '(ACP) Custom Tags', $location, false"}
				{template="menuItem" group="javascript" params="'uimatrix', '(ACP) Maxtrix', $location, false"}
				{template="menuItem" group="javascript" params="'uistatustoggle', '(ACP) Status Toggle', $location, false"}
				{template="menuItem" group="javascript" params="'uitree', '(ACP) Tree', $location, false"}
			</ul>

			<h4 class='ipsSideMenu_title'>Utilities</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="javascript" params="'utilanim', 'Animation', $location"}
				{template="menuItem" group="javascript" params="'utilcolor', 'Color', $location, false"}
				{template="menuItem" group="javascript" params="'utilcookie', 'Cookie', $location"}
				{template="menuItem" group="javascript" params="'utilcss', 'CSS', $location, false"}
				{template="menuItem" group="javascript" params="'utildb', 'Database', $location"}
				{template="menuItem" group="javascript" params="'utilevents', 'Events', $location, false"}
				{template="menuItem" group="javascript" params="'utilposition', 'Position', $location"}
				{template="menuItem" group="javascript" params="'utilresponsive', 'Responsive', $location, false"}
				{template="menuItem" group="javascript" params="'utiltime', 'Time', $location"}
				{template="menuItem" group="javascript" params="'utilurl', 'URL', $location"}
				{template="menuItem" group="javascript" params="'utilvalidate', 'Validate', $location, false"}
			</ul>

			<h4 class='ipsSideMenu_title'>Other</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="javascript" params="'otheracp', 'AdminCP Shortcuts', $location"}
			</ul>
		</nav>
	</div>
	<div class='ipsColumn ipsColumn_fluid' id='elDocsContent'>
		{$content|raw}
	</div>
</div>