h1, h2 {
	font-weight: 500;
}

h3 {
	font-weight: 600;
}

pre.prettyprint {
	background: #f9f9f9;
	border: 1px solid rgba(0,0,0,0.1) !important;
	padding: 10px !important;
	max-width: 100%;
	white-space: pre-wrap;
	font-size: 13px;
}

code {
	color: #2a8c68;
}

section {
	margin-bottom: 50px;
}

html[dir="ltr"] ul.ipsList_bullets {
	margin-left: 40px;
}
html[dir="rtl"] ul.ipsList_bullets {
	margin-right: 40px;
}

ul.ipsList_bullets li {
	margin-bottom: 5px;
}

.cNote:before, .cExample:before {
	display: block;
	position: absolute;
	top: -20px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
html[dir="ltr"] .cNote:before, .cExample:before {
	left: 0;
}
html[dir="rtl"] .cNote:before, .cExample:before {
	right: 0;
}

.cExample {
	position: relative;
	margin-top: 40px;
}

.cExample:before {
	content: 'Example';
	color: #bababa;	
}

.cNote {
	background: #f0f4e8;
	position: relative;
	color: #4e5344;
	padding: 15px;
	margin-top: 40px;
}

.cNote:before {
	content: 'Note';
	color: #b5be9f;	
}

#elIconConsistency .fa {
	font-size: 28px;
	vertical-align: middle;
}
html[dir="ltr"] #elIconConsistency .fa {
	margin-right: 10px;
}
html[dir="rtl"] #elIconConsistency .fa {
	margin-left: 10px;
}

#elAnimationGrid .ipsGrid_span4 {
	margin-bottom: 15px;
}