<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix'>
	<h1 class='ipsType_pageTitle'>Buttons</h1>
	<p class='ipsPageHeader_info'>
		Classes for styling buttons in a range of ways.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#basics'>Basics</a></li>
		<li><a href='#styles'>Button Styles</a></li>
		<li><a href='#sizes'>Sizes</a></li>
		<li><a href='#disabled'>Disabled Buttons</a></li>
		<li><a href='#split'>Split Buttons</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='basics'></a>
		<h2>Basics</h2>
		<p>The button classes described here can be applied to any element, although typically would be applied to an element like <code>a</code>, <code>input[type="submit"]</code> or <code>button</code> so that the user can interact with it.</p>

		<p>As a minimum, a button should receive the basic <code>ipsButton</code> class, plus a size class and a style class (explained below).</p>
	</section>

	<section>
		<a id='styles'></a>
		<h2>Button Styles</h2>

		<p><code>ipsButton_normal</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_normal'>Normal button</a>
		</div>
		<br>

		<p><code>ipsButton_primary</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_primary'>Primary button</a>
		</div>
		<br>

		<p><code>ipsButton_alternate</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_alternate'>Alternate button</a>
		</div>
		<br>

		<p><code>ipsButton_important</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_important'>Important button</a>
		</div>
		<br>

		<p><code>ipsButton_light</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_light'>Light button</a>
		</div>
		<br>

		<p><code>ipsButton_veryLight</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_veryLight'>Very light button</a>
		</div>
		<br>

		<p><code>ipsButton_overlaid</code></p>
		<div class='ipsPad' style='background-image: url( {expression="\IPS\Member::loggedIn()->photo"} ); background-size: cover'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_overlaid'>Overlaid button</a>
		</div>
		<br>

		<p><code>ipsButton_link</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_link'>Link button</a>
		</div>

	</section>

	<section>
		<a id='sizes'></a>
		<h2>Sizes</h2>
		<p><code>ipsButton_medium</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_normal'>Medium button</a>
		</div>
		<br>

		<p><code>ipsButton_verySmall</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_verySmall ipsButton_normal'>Very small button</a>
		</div>
		<br>

		<p><code>ipsButton_small</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_small ipsButton_normal'>Small button</a>
		</div>
		<br>

		<p><code>ipsButton_large</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_large ipsButton_normal'>Large button</a>
		</div>
		<br>

		<p><code>ipsButton_veryLarge</code></p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_veryLarge ipsButton_normal'>Very large button</a>
		</div>
		<br>

		<p>
			<code>ipsButton_fullWidth</code><br>
			Can be combined with another size above.
		</p>
		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_fullWidth ipsButton_normal'>Full width button</a>
		</div>
	</section>

	<section>
		<a id='disabled'></a>
		<h2>Disabled buttons</h2>
		<p>
			Buttons can be visually disabled either by adding the class <code>ipsButton_disabled</code>, or, on relevant input elements, adding the <code>disabled</code> property. For example:
		</p>

<pre class='prettyprint'>
&lt;a href='#' class='ipsButton ipsButton_normal ipsButton_medium <strong>ipsButton_disabled</strong>'&gt;Disabled button (link)&lt;/a&gt;
&lt;input type='submit' class='ipsButton ipsButton_normal ipsButton_medium' <strong>disabled</strong> value='Disabled button (input)'&gt;
</pre>
		<p>
			These would render like so:
		</p>

		<div class='ipsAreaBackground ipsPad'>
			<a href='#' class='ipsButton ipsButton_normal ipsButton_medium ipsButton_disabled'>Disabled button (link)</a>
			<input type='submit' class='ipsButton ipsButton_normal ipsButton_medium' disabled value='Disabled button (input)'>
		</div>
	</section>

	<section>
		<a id='split'></a>
		<h2>Split buttons</h2>
		<p>Split buttons allow you to create toolbars easily by specifying a list of buttons that display joined to each other.</p>
		<p>They are created by specifying the class <code>ipsButton_split</code> on a wrapper element containing two or more buttons. The wrapper element can be a <code>&lt;ul&gt;</code> tag, or any other that makes sense for your use.</p>
		<p>All of the buttons in a split button group should be the same size, otherwise results are unpredictable. Different styles can be used on each button, though.</p>

		<pre class='prettyprint'>
&lt;ul class='ipsButton_split'&gt;
	&lt;li&gt;&lt;a href='#' class='ipsButton ipsButton_small ipsButton_primary'&gt;Button 1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href='#' class='ipsButton ipsButton_small ipsButton_light'&gt;Button 2&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href='#' class='ipsButton ipsButton_small ipsButton_light'&gt;Button 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>

		<div class='ipsAreaBackground ipsPad cExample'>
			<ul class='ipsButton_split'>
				<li><a href='#' class='ipsButton ipsButton_small ipsButton_primary'>Button 1</a></li>
				<li><a href='#' class='ipsButton ipsButton_small ipsButton_veryLight'>Button 2</a></li>
				<li><a href='#' class='ipsButton ipsButton_small ipsButton_veryLight'>Button 3</a></li>
			</ul>
		</div>
	</section>
</article>