<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Layout: Columns</h1>
	<p class='ipsPageHeader_info'>
		Classes for building layouts comprising of mixed fixed/fluid column arrangements.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=css&do=grids"}'>CSS: Grids</a>
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#sizing'>Column Sizing</a></li>
		<li><a href='#border'>Border Spacing</a></li>
		<li><a href='#collapsing'>Collapsing on Smaller Devices</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<p>The column module, unlike the <a href='{url="app=documentation&module=documentation&controller=css&do=grids"}'>grids</a> module, provides classes that enable layouts comprising both fixed and fluid columns to be easily created. This is a layout often used for fixed sidebars with fluid content areas, for example. Additional classes are available to collapse the layout on smaller devices.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>
		<p>A column layout consists of a wrapper element, with the column elements as direct descendents of the wrapper. No other layout classes should be applied directly to the column elements.</p>
		<p>An example of a column layout:</p>

		<pre class='prettyprint'>
&lt;div class='<strong>ipsColumns</strong>'&gt;
	&lt;div class='<strong>ipsColumn ipsColumn_medium</strong>'&gt;Fixed column&lt;/div&gt;
	&lt;div class='ipsColumn <strong>ipsColumn_fluid</strong>'&gt;Fluid column&lt;/div&gt;
&lt;/div&gt;</pre>
		
		<p>This would render as follows (background colors and padding added for clarity):</p>

		<div class='ipsAreaBackground cExample'>
			<div class='ipsColumns'>
				<div class='ipsColumn ipsColumn_medium ipsPad' style='background: #578574; color: #fff;'>Fixed column</div>
				<div class='ipsColumn ipsColumn_fluid ipsPad' style='background: #7c5785; color: #fff;'>Fluid column</div>
			</div>
		</div>

		<p>The wrapper receives the classname <code>ipsColumns</code> (note: plural), while individual columns receive the classname <code>ipsColumn</code> (note: singular).</p>
	</section>

	<section>
		<a id='sizing'></a>
		<h2>Column sizing</h2>

		<p>A number of different classnames are available to change the column sizing. One of these classes should be applied to each column in addition to the base <code>ipsColumn</code> classname.</p>

		<ul class='ipsList ipsList_bullets'>
			<li><code>ipsColumn_veryNarrow</code> - 50 pixels wide</li>
			<li><code>ipsColumn_narrow</code> - 120 pixels wide</li>
			<li><code>ipsColumn_medium</code> - 200 pixels wide</li>
			<li><code>ipsColumn_wide</code> - 280 pixels wide</li>
			<li><code>ipsColumn_veryWide</code> - 360 pixels wide</li>
			<li><code>ipsColumn_fluid</code> - Takes up remaining space; should be used on all fluid columns</li>
		</ul>
	</section>

	<section>
		<a id='border'></a>
		<h2>Border spacing</h2>

		<p>By default, no spacing is provided between columns (see example above). Spacing can be included around columns by using one of the three following classnames on the root <code>ipsColumns</code> element:</p>

		<ul class='ipsList ipsList_bullets'>
			<li><code>ipsColumns_verticalSpacing</code> - 15px vertical spacing</li>
			<li><code>ipsColumns_horizontalSpacing</code> - 15px horizontal spacing</li>
			<li><code>ipsColumns_bothSpacing</code> - 15px spacing on all sides</li>
		</ul>

		<p>The spacing can be halved by also including the <code>ipsColumns_halfSpacing</code> classname.</p>

		<pre class='prettyprint'>
&lt;div class='ipsColumns <strong>ipsColumns_bothSpacing ipsColumns_halfSpacing</strong>'&gt;
	&lt;div class='<strong>ipsColumn ipsColumn_medium</strong>'&gt;Fixed column&lt;/div&gt;
	&lt;div class='ipsColumn <strong>ipsColumn_fluid</strong>'&gt;Fluid column&lt;/div&gt;
&lt;/div&gt;</pre>

		<div class='ipsAreaBackground cExample'>
			<div class='ipsColumns ipsColumns_bothSpacing ipsColumns_halfSpacing'>
				<div class='ipsColumn ipsColumn_medium ipsPad' style='background: #578574; color: #fff;'>Fixed column</div>
				<div class='ipsColumn ipsColumn_fluid ipsPad' style='background: #7c5785; color: #fff;'>Fluid column</div>
			</div>
		</div>
	</section>

	<section>
		<a id='collapsing'></a>
		<h2>Collapsing on smaller devices <span class='ipsBadge ipsBadge_style3'>Responsive</span></h2>

		<p>To cause the layout to collapse on smaller devices, add the classnames <code>ipsColumns_collapseTablet</code> or <code>ipsColumns_collapsePhone</code> to the wrapper element. Columns will collapse into source-order, one after the other.</p>
	</section>
</article>