<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Layout: Grids</h1>
	<p class='ipsPageHeader_info'>
		Classes for building layouts comprising a flexible grid which can collapse on smaller devices.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=css&do=columns"}'>CSS: Columns</a>
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#wrapping'>Wrapping Grid Items</a></li>
		<li><a href='#collapsing'>Collapsing on Smaller Devices</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<p>The grid module provides classes for building layouts based on a flexible 12-column grid, with automatic margins, and with additional classes to enable the layout to collapse properly on smaller devices.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>
		<p>A grid should be made up of a wrapper element with the class <code>ipsGrid</code>, and direct descendents with appropriate size classes applied (see below). For example:</p>

<pre class='prettyprint'>
&lt;div class='<strong>ipsGrid</strong>'&gt;
	&lt;div class='<strong>ipsGrid_span3</strong>'&gt;Span 3&lt;/div&gt;
	&lt;div class='ipsGrid_span3'&gt;Span 3&lt;/div&gt;
	&lt;div class='ipsGrid_span4'&gt;Span 4&lt;/div&gt;
	&lt;div class='ipsGrid_span2'&gt;Span 2&lt;/div&gt;
&lt;/div&gt;
</pre>

		<p>This would render as follows (background colors added here for clarity):</p>

		<div class='ipsAreaBackground_light ipsPad cExample'>
			<div class='ipsGrid'>
				<div class='ipsGrid_span3 ipsPad' style='background: #578574; color: #fff;'>Span 3</div>
				<div class='ipsGrid_span3 ipsPad' style='background: #7c5785; color: #fff;'>Span 3</div>
				<div class='ipsGrid_span4 ipsPad' style='background: #577885; color: #fff;'>Span 4</div>
				<div class='ipsGrid_span2 ipsPad' style='background: #855764; color: #fff;'>Span 2</div>
			</div>
		</div>

		<p>Grid classes <code>ipsGrid_span1</code> through <code>ipsGrid_span12</code> are available for the various column sizes.</p>
	</section>

	<section>
		<a id='wrapping'></a>
		<h2>Wrapping grid items</h2>

		<p>Elements in a grid will automatically neatly wrap to new rows, providing every item in the grid uses the same span width and height, without you needing to manually create new row structures. For example:</p>

		<pre class='prettyprint'>
&lt;div class='ipsGrid'&gt;
	&lt;div class='ipsGrid_span6'&gt;Span 6&lt;/div&gt;
	&lt;div class='ipsGrid_span6'&gt;Span 6&lt;/div&gt;
	&lt;div class='ipsGrid_span6'&gt;Span 6&lt;/div&gt;
	&lt;div class='ipsGrid_span6'&gt;Span 6&lt;/div&gt;
&lt;/div&gt;
</pre>
	
		<div class='ipsAreaBackground_light ipsPad cExample'>
			<div class='ipsGrid'>
				<div class='ipsGrid_span6 ipsPad_half' style='background: #578574; color: #fff;'>Span 6</div>
				<div class='ipsGrid_span6 ipsPad_half' style='background: #7c5785; color: #fff;'>Span 6</div>
				<div class='ipsGrid_span6 ipsPad_half' style='background: #577885; color: #fff;'>Span 6</div>
				<div class='ipsGrid_span6 ipsPad_half' style='background: #855764; color: #fff;'>Span 6</div>
			</div>
		</div>
	</section>

	<section>
		<a id='collapsing'></a>
		<h2>Collapsing on smaller devices <span class='ipsBadge ipsBadge_style3'>Responsive</span></h2>

		<p>To cause the grid layout to collapse on smaller devices, add either <code>ipsGrid_collapseTablet</code> or <code>ipsGrid_collapsePhone</code> to the class list on the wrapper element, like so:</p>

<pre class='prettyprint'>
&lt;div class='ipsGrid <strong>ipsGrid_collapsePhone</strong>'&gt;
	...
&lt;/div&gt;
</pre>
	</section>
</article>