<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Dropdown Menus</h1>
	<p class='ipsPageHeader_info'>
		Classes for building popup menus which present a list of options to choose from.
	</p>
	<p class='ipsType_reset ipsType_light'>
		See also: <a href='{url="app=documentation&module=documentation&controller=javascript&do=menus"}'>Javascript: Menus</a>, <a href='{url="app=documentation&module=documentation&controller=css&do=sidemenus"}'>CSS: Side Menus</a>, 
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#basic'>Basic Menu</a></li>
		<li><a href='#disabling'>Disabling Menu Items</a></li>
		<li><a href='#sizing'>Menu Sizing</a></li>
		<li><a href='#selectable'>Selectable Menus</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>


	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>A menu consists of a trigger element, and the menu element itself:</p>

<pre class='prettyprint'>
&lt;!-- The trigger --&gt;
&lt;a href='#elMyMenu_menu' id='elMyMenu'&gt;Open Menu&lt;/a&gt;

&lt;!-- The menu --&gt;
&lt;ul id='elMyMenu_menu' class='ipsMenu'&gt;
	...
&lt;/ul&gt;
</pre>

		<p>The ID of the menu should be the ID of the trigger element, suffixed by <code>_menu</code>. If the trigger element is a link, its href should be an anchor to the ID of the menu element. This makes the menu accessible even when Javascript is disabled in the browser.</p>
	</section>

	<section>
		<a id='basic'></a>
		<h2>Basic menu</h2>

		<p>A basic menu might have the following markup:</p>

<pre class='prettyprint'>
&lt;ul class='<strong>ipsMenu</strong> ipsHide'&gt;
	&lt;li class='<strong>ipsMenu_item</strong>'&gt;&lt;a href='#'&gt;Item 1&lt;/a&gt;&lt;/li&gt;
	&lt;li class='ipsMenu_item'&gt;&lt;a href='#'&gt;Item 2&lt;/a&gt;&lt;/li&gt;
	&lt;li class='ipsMenu_item'&gt;&lt;a href='#'&gt;Item 3&lt;/a&gt;&lt;/li&gt;
	&lt;li class='<strong>ipsMenu_sep</strong>'&gt;&lt;hr&gt;&lt;/li&gt;
	&lt;li class='ipsMenu_item'&gt;&lt;a href='#'&gt;Item 4&lt;/a&gt;&lt;/li&gt;
	&lt;li class='ipsMenu_item'&gt;&lt;a href='#'&gt;Item 5&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>

		<p>This would display as follows: <a href='#elMenu1_menu' id='elMenu1' data-ipsMenu>see example</a>.</p>
		<ul id='elMenu1_menu' class='ipsMenu ipsHide'>
			<li class='ipsMenu_item'><a href='#'>Item 1</a></li>
			<li class='ipsMenu_item'><a href='#'>Item 2</a></li>
			<li class='ipsMenu_item'><a href='#'>Item 3</a></li>
			<li class='ipsMenu_sep'><hr></li>
			<li class='ipsMenu_item'><a href='#'>Item 4</a></li>
			<li class='ipsMenu_item'><a href='#'>Item 5</a></li>
		</ul>

		<p><code>ipsMenu</code> is the base class for the menu element. Items within the menu should have the class <code>ipsMenu_item</code>, with the link element inside of that. A separator item can be added by giving the item the class <code>ipsMenu_sep</code>, containing an <code>&lt;hr&gt;</code> element.</p>

		<p>Note that the positioning and stem is added automatically by the menu javascript module; it does not need to be manually specified. The stem can be removed, if necessary, by including the class <code>ipsMenu_noStem</code> on the menu element.</p>
		<br>

		<a id='disabling'></a>
		<h3>Disabling menu items</h3>

		<p>Individual menu items can be disabled by adding the class <code>ipsMenu_itemDisabled</code> to the list item: <a href='#elMenu3_menu' id='elMenu3' data-ipsMenu>see example</a>.</p>
		<ul id='elMenu3_menu' class='ipsMenu ipsHide'>
			<li class='ipsMenu_item'><a href='#'>Item 1</a></li>
			<li class='ipsMenu_item ipsMenu_itemDisabled'><a href='#'>Disabled Item 2</a></li>
			<li class='ipsMenu_item'><a href='#'>Item 3</a></li>
		</ul>

		<p class='cNote'>
			Disabled items are not foolproof; in browsers that do not support the CSS <em>pointer-events</em> style, a click on a disabled item will still register. Ensure your javascript properly deals with disabled item clicks if necessary.
		</p>
	</section>

	<section>
		<a id='sizing'></a>
		<h2>Menu sizing</h2>

		<p>By default, a menu will have no defined width. An additional classname can be specified on the menu element to determine how wide it should display.</p>

		<ul class='ipsList_bullets'>
			<li><code>ipsMenu_auto</code> - menu will appear as wide as necessary, though with a minimum width of 200px and a maximum width of 500px</li>
			<li><code>ipsMenu_narrow</code> - 200 pixels wide</li>
			<li><code>ipsMenu_normal</code> - 300 pixels wide</li>
			<li><code>ipsMenu_wide</code> - 450 pixels wide</li>
		</ul>
	</section>

	<section>
		<a id='selectable'></a>
		<h2>Selectable menus</h2>

		<p>A selectable menu allows the user to toggle one or more of the menu items, useful for turning options on and off. For this functionality to work, the javascript module needs to be used.</p>
		<p>A menu can be made selectable by adding the classname <code>.ipsMenu_selectable</code>. A menu item can be shown as selected by adding the classname <code>.ipsMenu_itemChecked</code> to the list item.</p>
		<p>The markup for a selectable menu might look this:</p>

<pre class='prettyprint'>
&lt;ul id='elMenu2_menu' class='ipsMenu ipsMenu_normal <strong>ipsMenu_selectable</strong> ipsHide'&gt;
	&lt;li class='ipsMenu_item'&gt;&lt;a href='#'&gt;Item 1&lt;/a&gt;&lt;/li&gt;
	&lt;li class='ipsMenu_item <strong>ipsMenu_itemChecked</strong>'&gt;&lt;a href='#'&gt;Item 2&lt;/a&gt;&lt;/li&gt;
	&lt;li class='ipsMenu_item'&gt;&lt;a href='#'&gt;Item 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>

		<p>This would display as follows: <a href='#elMenu2_menu' id='elMenu2' data-ipsMenu>see example</a>.</p>
		<ul id='elMenu2_menu' class='ipsMenu ipsMenu_normal ipsMenu_selectable ipsHide'>
			<li class='ipsMenu_item'><a href='#'>Item 1</a></li>
			<li class='ipsMenu_item ipsMenu_itemChecked'><a href='#'>Item 2</a></li>
			<li class='ipsMenu_item'><a href='#'>Item 3</a></li>
		</ul>
	</section>

	<section>
		
	</section>
</article>