<ips:template parameters="$id, $name, $location, $ready=true" />
<li><a class='ipsSideMenu_item {{if !$ready}}ipsFaded{{endif}} {{if $location == $id}}ipsSideMenu_itemActive{{endif}}' href='{url="app=documentation&module=documentation&controller=css&do={$id}"}'>{$name}</a></li>