<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Messages</h1>
	<p class='ipsPageHeader_info'>
		Classes for showing messages to the user.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#styles'>Message Styles</a></li>
		<li><a href='#codes'>Message Codes</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>
	
	<section>
		<p>The messages module provides a way to style informational messages to bring something to the user's attention.</p>
	</section>

	<section>
		<a id='usage'></a>
		<h2>Usage</h2>

		<p>To create a message, simply add the <code>ipsMessage</code> class to a container element (e.g. <em>div</em>), along with one of the message styles below. The message style class will automatically add the appropriate icon to your message box.</p>
	</section>

	<section>
		<a id='styles'></a>
		<h2>Message styles</h2>

		<h3>Error - <code>ipsMessage_error</code></h3>
		<div class='ipsMessage ipsMessage_error'>
			This is an error message.
		</div>
		<br>

		<h3>Success - <code>ipsMessage_success</code></h3>
		<div class='ipsMessage ipsMessage_success'>
			This message indicates something happened successfully.
		</div>
		<br>

		<h3>Warning - <code>ipsMessage_warning</code></h3>
		<div class='ipsMessage ipsMessage_warning'>
			This message warns the user of something terrible (or not so terrible).
		</div>
		<br>

		<h3>Information - <code>ipsMessage_info</code></h3>
		<div class='ipsMessage ipsMessage_info'>
			This message provides general information.
		</div>
	</section>

	<section>
		<a id='codes'></a>
		<h2>Message codes</h2>

		<p>If you need to add a code to your message, such as an error number, you can do so using the <code>ipsMessage_code</code> class:

<pre class='prettyprint'>
&lt;div class='ipsMessage ipsMessage_error'&gt;
	&lt;span class='ipsMessage_code'&gt;12345&lt;/span&gt;
	This is an error message.
&lt;/div&gt;
</pre>
	
		<div class='ipsMessage ipsMessage_error'>
			<span class='ipsMessage_code'>12345</span>
			This is an error message.
		</div>
	</section>

</article>