<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Miscellaneous</h1>
	<p class='ipsPageHeader_info'>
		Various other utility classes that might prove useful.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#padding'>Padding</a></li>
		<li><a href='#clearing'>Clearing</a></li>
		<li><a href='#backgrounds'>Backgrounds</a></li>
		<li><a href='#positioning'>Positioning</a></li>
		<li><a href='#loading'>Loading Elements</a></li>
		<li><a href='#hr'>Horizontal Rules</a></li>
		<li><a href='#notifications'>Notification Counts</a></li>
		<li><a href='#onlinestatus'>Online/Offline Status</a></li>
		<li><a href='#cursors'>Cursors</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='padding'></a>
		<h2>Padding</h2>

		<p>
			<code>ipsPad</code><br>
			15px padding on desktop.<br><br>

			<code>ipsPad_half</code><br>
			7px padding on desktop.<br><br>

			<code>ipsPad_double</code><br>
			30px padding on desktop.
		</p>
		
		<p>The padding classes are scaled appropriately on smaller devices.</p>
	</section>

	<section>
		<a id='clearing'></a>
		<h2>Clearing</h2>
		
		<p>
			<code>ipsClear</code><br>
			Clears floats preceding the element this class is applied to<br><br>

			<code>ipsClearfix</code><br>
			The popular 'clearfix' technique, which causes a wrapper element with this class applied to fully wrap elements contained within it, even if they are floated. This class should be applied to all elements where descendents may be floated.
		</p>
	</section>

	<section>
		<a id='backgrounds'></a>
		<h2>Backgrounds</h2>

		<p>
			<code>ipsAreaBackground</code><br>
			General-purpose background class that can be applied to elements to give a neutral background color.<br><br>

			<code>ipsAreaBackground_light</code><br>
			A lighter version of the above class.<br><br>

			<code>ipsAreaBackground_dark</code><br>
			A dark version of the class.<br><br>

			<code>ipsAreaBackground_reset</code><br>
			A 'reset' class which sets the background to the main content background color (white by default).<br><br>

			<code>ipsAreaBackground_positive</code><br>
			A green background representing something positive.<br><br>

			<code>ipsAreaBackground_negative</code><br>
			A red background representing something negative
		</p>

		<div style='background: #292929' class='ipsPad cExample'>
			<div class='ipsGrid'>
				<div class='ipsAreaBackground_dark ipsPad_half ipsGrid_span6 ipsType_light'>
					ipsAreaBackground_dark
				</div>
				<div class='ipsAreaBackground_light ipsPad_half ipsGrid_span6 ipsType_light'>
					ipsAreaBackground_light
				</div>
			</div>
			<br>
			<div class='ipsGrid'>
				<div class='ipsAreaBackground ipsPad_half ipsGrid_span6 ipsType_light'>
					ipsAreaBackground
				</div>
				<div class='ipsAreaBackground_reset ipsPad_half ipsGrid_span6 ipsType_light'>
					ipsAreaBackground_reset
				</div>
			</div>
			<br>
			<div class='ipsGrid'>
				<div class='ipsAreaBackground_positive ipsPad_half ipsGrid_span6 ipsType_light'>
					ipsAreaBackground_positive
				</div>
				<div class='ipsAreaBackground_negative ipsPad_half ipsGrid_span6 ipsType_light'>
					ipsAreaBackground_negative
				</div>
			</div>
		</div>
	</section>

	<section>
		<a id='positioning'></a>
		<h2 class='ipsType_reset'>Positioning</h2>
		<span class='ipsType_light'>For text positioning, see <a href='{url="app=documentation&module=documentation&controller=css&do=type"}'>CSS: Typography</a></span>

		<p>
			Three classes for positioning block/inline-block elements.
		</p>

		<p>
			<code>ipsPos_left</code><br>
			Floats the element <em>left</em><br><br>

			<code>ipsPos_right</code><br>
			Floats the element <em>right</em><br><br>

			<code>ipsPos_center</code><br>
			Sets automatic margins on the element in order to center it. Block elements will require a width to be set for this to be noticeable, otherwise they will naturally display at 100% width.	
		</p>
	</section>

	<section>
		<a id='loading'></a>
		<h2>Loading elements</h2>

		<p><code>ipsLoading</code> is a class that can be applied to elements to indicate that they are in a loading state, by adding a throbber image as a background. It is typically combined with other classes or styles which provide sizing.</p>
		<p>Two additional classes can also be applied to the element to change the loading style:</p>

		<p>
			<code>ipsLoading_dark</code><br>
			Makes the throbber white, useful when placed on dark backgrounds.<br><br>

			<code>ipsLoading_tiny</code><br>
			Makes the throbber image a smaller variation.
		</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<div class='ipsGrid'>
				<div class='ipsGrid_span4 ipsPad ipsAreaBackground_reset ipsLoading' style='height: 60px'>
					&nbsp;
				</div>
				<div class='ipsGrid_span4 ipsPad ipsAreaBackground_reset ipsLoading ipsLoading_tiny' style='height: 60px'>
					&nbsp;
				</div>
				<div class='ipsGrid_span4 ipsPad ipsAreaBackground_dark ipsLoading ipsLoading_dark' style='height: 60px'>
					&nbsp;
				</div>
			</div>
			<div class='ipsGrid ipsType_small'>
				<div class='ipsGrid_span4 ipsPad_half ipsType_center'>
					<code>ipsLoading</code>
				</div>
				<div class='ipsGrid_span4 ipsPad_half ipsType_center'>
					<code>ipsLoading ipsLoading_tiny</code>
				</div>
				<div class='ipsGrid_span4 ipsPad_half ipsType_center'>
					<code>ipsLoading ipsLoading_dark</code>
				</div>
			</div>
		</div>

	</section>

	<section>
		<a id='hr'></a>
		<h2>Horizontal rules</h2>
		
		<p>Horizontal rules can be styled simply by adding the class <code>ipsHr</code> to a standard <code>&lt;hr&gt;</code> element. Two additional classes can also be added to adjust the styling:</p>

		<p>
			<code>ipsHr_thick</code><br>
			Makes the horizontal rule a dark color and much thicker. Good for strong visual separation.<br><br>

			<code>ipsHr_small</code><br>
			Reduces the margins above and below the rule.
		</p>
	</section>

	<section>
		<a id='notifications'></a>
		<h2>Notification Counts</h2>

		<p><code>ipsNotificationCount</code> is a class for a floating bubble which can denote a notification count of some kind. The parent element should have a non-static position for this class to work correctly. By default, the notification bubble will be offset to the top and right, but this could be overwritten with additional specific styles if desired.</p>
		
		<p>Usage:</p>

<pre class='prettyprint'>
&lt;!-- The element the notification belongs to --&gt;
&lt;!-- position: relative; is set inline here, but avoid that in practice --&gt;
&lt;a href='#' class='ipsButton ipsButton_primary ipsButton_medium' style='position:relative'&gt;
	A button with notification
	&lt;span class='<strong>ipsNotificationCount</strong>'&gt;12&lt;/span&gt;
&lt;/a&gt;
</pre>
	
		<p>This would render:</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<a href='#' class='ipsButton ipsButton_primary ipsButton_medium' style='position:relative'>A button with notification<span class='ipsNotificationCount'>12</span></a>
		</div>
	</section>

	<section>
		<a id='onlinestatus'></a>
		<h2>Online/Offline Status</h2>
		
		<p>Provides simple styling to denote whether something (a user, for example) is online or offline. <code>ipsOnlineStatus</code> is the base class; add <code>ipsOnlineStatus_online</code> or <code>ipsOnlineStatus_offline</code> to denote the actual status.
		</p>
		
<pre class='prettyprint'>
&lt;strong class='ipsOnlineStatus ipsOnlineStatus_online'&gt;&lt;i class='icon-circle'&gt;&lt;/i&gt; Online&lt;/strong&gt;&lt;br&gt;
&lt;strong class='ipsOnlineStatus ipsOnlineStatus_offline'&gt;&lt;i class='icon-circle'&gt;&lt;/i&gt; Offline&lt;/strong&gt;
</pre>

		<div class='ipsAreaBackground ipsPad cExample'>
			<strong class='ipsOnlineStatus ipsOnlineStatus_online'><i class='fa fa-circle'></i> Online</strong><br>
			<strong class='ipsOnlineStatus ipsOnlineStatus_offline'><i class='fa fa-circle'></i> Offline</strong>
		</div>
	</section>

	<section>
		<a id='cursors'></a>
		<h2>Cursors</h2>

		<p>Several classes are provided as shortcuts for changing the mouse cursor on elements.</p>

		<p>
			<code>ipsCursor_locked</code><br>
			"No permission" cursor. <a href='#' class='ipsCursor_locked'>Example</a><br><br>

			<code>ipsCursor_drag</code><br>
			Shows an element can be moved. <a href='#' class='ipsCursor_drag'>Example</a><br><br>

			<code>ipsCursor_pointer</code><br>
			Shows an element can be clicked. <a href='#' class='ipsCursor_pointer'>Example</a><br><br>

			<code>ipsCursor_help</code><br>
			Shows an element provides help. <a href='#' class='ipsCursor_help'>Example</a><br><br>

			<code>ipsCursor_default</code><br>
			Sets the cursor to the default state. <a href='#' class='ipsCursor_default'>Example</a><br><br>			
		</p>
	</section>
</article>