<ips:template parameters="" />

<h1 class='ipsType_pageTitle'>CSS &amp; HTML Naming Conventions</h1>

<section class='ipsType_normal ipsType_richText'>
	<p>In order to properly differentiate between CSS classes and HTML elements that form part of the IPS4 framework and those that do not, and in order to create a logical structure that can be understood at a glance, naming conventions are applied as follows.</p>
	<br>

	<h2>Framework classes &amp; elements</h2>
	<p>The IPS4 CSS framework is split into loosely-defined 'modules'. A module groups together related styles in a single file, with the aim of making it clearer which styles will be applied to a given element, and also to make it easier to find those styles to edit in the CSS files.</p>

	<p>All framework classes and elements take the name format <code>ipsModule</code>, where Module is the type of style being defined. Within a module, additional classes can be defined in the format <code>ipsModule_option</code>. Note that the module name and module options both use lowerCamelCase notation, with the module name and option separated by an underscore.</p>
	<p>In general, the framework shouldn't be used with element IDs, since this restricts their use to one per page. The exception to this is aspects of the layout module, where page structure will naturally only exist once.</p>
	<p>Some examples of framework names:</p>

	<pre class='prettyprint lang-css'>
.ipsMenu
.ipsTabs_item
#ipsLayout_mainArea
.ipsComment_hasChildren</pre>
	<br>

	<h2>What belongs in the framework? </h2>
	<p>As a general rule, if a CSS class could be reused in a different application or context, it would belong in the framework. If it is only relevant in one particular application, it may be better to define it as a non-framework class (see below).</p>
	<br>

	<h2>Non-framework classes and element IDs</h2>
	<p>Where a class is needed that doesn't belong in the framework, it should be prefixed by c, for example <code>.cUserLink</code>. Where an element needs to receive an ID, it should be prefixed by el, for example <code>#elNewTopic</code>.</p>
	<p>As before, lowerCamelCase should be used. Avoid using any classes or IDs that do not have these prefixes, because this can lead to naming conflicts with 3rd party HTML/CSS. Exceptions can be made where a non-prefixed version is required, such as for 3rd party jQuery plugins.</p>
</section>