<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Tables</h1>
	<p class='ipsPageHeader_info'>
		Classes for styling table content.
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<!--<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#usage'>Usage</a></li>
		<li><a href='#sizing'>Column Sizing</a></li>
		<li><a href='#border'>Border Spacing</a></li>
		<li><a href='#collapsing'>Collapsing on Smaller Devices</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>
	-->
	<section>Tables</section>
</article>