<ips:template parameters="" />

<div class='ipsPageHeader ipsAreaBackground ipsPad ipsClearfix ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle'>Typography</h1>
	<p class='ipsPageHeader_info'>
		Classes for working with text
	</p>
</div>
<br>

<article class='ipsType_normal ipsType_richText'>

	<strong>In this section:</strong>
	<ul class='ipsList_inline'>
		<li><a href='#headings'>Headings</a></li>
		<li><a href='#alignments'>Alignment</a></li>
		<li><a href='#colors'>Colors</a></li>
		<li><a href='#sizing'>Sizing</a></li>
		<li><a href='#ckeditor'>Textual Content from CKEditor</a></li>
		<li><a href='#truncating'>Truncating Text</a></li>
		<li><a href='#other'>Other Typography Styles</a></li>
	</ul>
	<hr class='ipsHr'>
	<br>

	<section>
		<a id='headings'></a>
		<h2>Headings</h2>
		
		<p>A number of heading styles are provided, which can be used for structuring information on the page. They are element-agnostic; you can use them on any of the <code>h*</code> tags (or even other tags) - choose the most semantic element for your particular use.</p>

		<p>
			<code>ipsType_pageTitle</code><br>
			Most useful as the main title on a page.
		</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<h1 class='ipsType_pageTitle'>This is a page title</h1>
		</div>
		<br>

		<p>
			<code>ipsType_sectionTitle</code><br>
			The title of a section on the page.
		</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<h1 class='ipsType_sectionTitle'>This is a section title</h1>
		</div>
		<br>

		<p>
			<code>ipsType_sectionHead</code><br>
			A section heading.
		</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<h1 class='ipsType_sectionHead'>This is a section heading</h1>
		</div>
	</section>

	<section>
		<a id='alignment'></a>
		<h2>Alignment</h2>
		
		<p>
			<code>ipsType_left</code><br>
			Left-aligned text<br><br>

			<code>ipsType_right</code><br>
			Right-aligned text<br><br>

			<code>ipsType_center</code><br>
			Centered text
		</p>
	</section>

	<section>
		<a id='colors'></a>
		<h2>Colors</h2>
		
		<p>
			<code>ipsType_light</code><br>
			<span class='ipsType_light'>Light text</span><br><br>

			<code>ipsType_warning</code><br>
			<span class='ipsType_warning'>Important text</span><br><br>

			<code>ipsType_success</code><br>
			<span class='ipsType_success'>Success text</span>
		</p>
	</section>

	<section>
		<a id='sizing'></a>
		<h2>Sizing</h2>

		<p>
			<code>ipsType_small</code><br>
			<span class='ipsType_small'>Small text</span>
		</p>
		
		<p>
			<code>ipsType_medium</code><br>
			<span class='ipsType_normal'>Medium text</span>
		</p>
		
		<p>
			<code>ipsType_normal</code> - default text style<br>
			<span class='ipsType_normal'>Normal text</span>
		</p>		
		
		<p>
			<code>ipsType_large</code><br>
			<span class='ipsType_large'>Large text</span>
		</p>		

		<p>
			<code>ipsType_veryLarge</code><br>
			<span class='ipsType_veryLarge'>Very large text</span>
		</p>		

		<p>
			<code>ipsType_huge</code> - useful for icons<br>
			<span class='ipsType_huge'><i class='fa fa-camera'></i></span>
		</p>		
	</section>

	<section>
		<a id='ckeditor'></a>
		<h2>Textual content from CKEditor</h2>

		<p>Any element that displays content from CKEditor (e.g. comment areas, articles, topic bodies etc.) should wrap the CKEditor output in an element with the class <code>ipsType_richText</code>. This sets up margins correctly and ensures images within the container do not overflow.</p>
	</section>

	<section>
		<a id='truncating'></a>
		<h2 class='ipsType_reset'>Truncating text</h2>
		<p class='ipsType_reset ipsType_light'>See also: <a href='{url="app=documentation&module=documentation&controller=javascript&do=truncate"}'>Javascript: truncate</a></p>

		<p>Text can be truncated on a single line by adding two classes to an element: <code>ipsTruncate ipsTruncate_line</code>. In browsers that support it, this causes overflowing text to be hidden, and instead be replaced by ellipsis.</p>

		<p class='cNote'>
			This method is designed to work on short pieces of text on a single line, such as text on a button. It does not work effectively on multi-line strings; for those cases you should use the javascript-based <em>truncate</em> widget. It also sets the element to 100% width in order to work; you will need to manually set a width if you wish to overule this behavior.
		</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			<a href='#' class='ipsButton ipsButton_medium ipsButton_primary ipsTruncate ipsTruncate_line' style='max-width: 200px'>This is a long string which won't quite fit on this button</a>
		</div>
	</section>

	<section>
		<a id='other'></a>
		<h2>Other typography styles</h2>

		<p>
			<code>ipsType_noBreak</code><br>
			Prevents text from wrapping<br><br>

			<code>ipsType_reset</code><br>
			Removes margin and standardizes font weight - most useful for <code>h*</code> elements<br><br>

			<code>ipsType_unbold</code><br>
			Removes bold font styles from text<br><br>

			<code>ipsType_uppercase</code><br>
			Makes text uppercase<br><br>

			<code>ipsType_blendLinks</code><br>
			When applied to either links or elements containing links, causes links to match the surrounding text color:
		</p>

		<div class='ipsAreaBackground ipsPad cExample'>
			This is text, whereas <a href='#' class='ipsType_blendLinks'>this is a link.</a>
		</div>
</article>