<ips:template parameters="$content='', $location=''" />

<div class='ipsPageHeader ipsSpacer_bottom'>
	<h1 class='ipsType_pageTitle ipsCursor_pointer' data-ipsMenu id='elDocsNav'>CSS Documentation <i class='fa fa-caret-down'></i></h1>
	<ul class='ipsMenu ipsMenu_auto ipsMenu_selectable ipsHide' id='elDocsNav_menu'>
		<li class='ipsMenu_item ipsMenu_itemChecked'>
			<a href='{url="app=documentation&module=documentation&controller=css"}'>CSS Documentation</a>
		</li>
		<li class='ipsMenu_item'>
			<a href='{url="app=documentation&module=documentation&controller=javascript"}'>Javascript Documentation</a>
		</li>
	</ul>
</div>

<hr class='ipsHr'>
<br>

<div class='ipsColumns ipsColumns_collapsePhone'>
	<div class='ipsColumn ipsColumn_medium' data-ipsTabBar data-ipsTabBar-contentArea='#elDocsContent' data-ipsTabBar-itemSelector='.ipsSideMenu_item' data-ipsTabBar-activeClass='ipsSideMenu_itemActive' data-ipsTabBar-panelPrefix='elDocs'>
		<nav class='ipsSideMenu'>
			<h4 class='ipsSideMenu_title'>General</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="css" params="'naming', 'Naming Conventions', $location"}
			</ul>

			<h4 class='ipsSideMenu_title'>CSS Framework</h4>
			<ul class='ipsSideMenu_list'>
				{template="menuItem" group="css" params="'columns', 'Layout: Columns', $location"}
				{template="menuItem" group="css" params="'grids', 'Layout: Grids', $location"}
				{template="menuItem" group="css" params="'datalists', 'Data Lists', $location"}
				{template="menuItem" group="css" params="'forms', 'Forms', $location"}
				{template="menuItem" group="css" params="'tables', 'Tables', $location, false"}
				{template="menuItem" group="css" params="'icons', 'Icons', $location"}
				{template="menuItem" group="css" params="'menus', 'Dropdown Menus', $location"}
				{template="menuItem" group="css" params="'sidemenus', 'Side Menus', $location"}
				{template="menuItem" group="css" params="'messages', 'Messages', $location"}
				{template="menuItem" group="css" params="'images', 'Images &amp; Photos', $location"}
				{template="menuItem" group="css" params="'buttons', 'Buttons', $location"}
				{template="menuItem" group="css" params="'badges', 'Badges', $location, false"}
				{template="menuItem" group="css" params="'misc', 'Miscellaneous', $location"}
				{template="menuItem" group="css" params="'type', 'Typography', $location"}
			</ul>
		</nav>
	</div>
	<div class='ipsColumn ipsColumn_fluid' id='elDocsContent'>
		{$content|raw}
	</div>
</div>